.js .c-modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	content: '';
	display: flex;
	justify-content: center;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&--content {
		background-color: #fff;
		overflow-y: auto;
		border-top: 3px solid #007e99;
		box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		height: auto;
		margin: 30px;
		max-height: 95%;
		max-width: 620px;
		overflow-y: scroll;
		position: relative;
		padding: 30px;
		transition: height 0.2s ease-out;
		width: 100%;
	}

	&--title {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.48;
	}

	&--close {
		color: #666;
		font-size: 32px;
		position: absolute;
		top: 15px;
		right: 15px;

		&:hover {
			text-decoration: none;
		}
	}

	.hidden-within-modal {
		display: none;
	}

	.unstyle-within-modal {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
	}

	.shown-only-within-modal {
		display: inline-block;
	}

	.copy-button-modal {
		font-size: 12px;
		left: 150px;
		position: absolute;
		top: 35px;
	}
}

.shown-only-within-modal {
	display: none;
}

html.has-modal {
	overflow: hidden;

	.c-header,
	main,
	.c-footer {
		filter: blur(1px);
	}
}
