.c-ratings-survey {
	overflow: hidden;
	font-size: $global-ratings-survey-font-size;
	padding: $global-ratings-survey-container-padding;
}

.c-ratings-survey__heading {
	margin-bottom: $global-ratings-survey-heading-margin;
}

.c-ratings-survey__submit-message div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.c-ratings-survey__submit-message svg {
	width: $global-ratings-survey-icon-size;
	height: $global-ratings-survey-icon-size;
	margin-right: $global-ratings-survey-icon-margin;
}

.c-ratings-survey__submit-message p {
	margin: 0;
	line-height: 1.4;
}

.c-ratings-survey a {
	display: inline-block;
	margin-top: $global-ratings-survey-link-margin;
	// TODO: Remove this once we apply underline from default brand context
	text-decoration: underline;
}

.c-ratings-survey__visually-hidden {
	/* hide visually, not to assistive tech */
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Override Global Forms Styles */
.c-ratings-survey .c-forms__label--pictographic-radio svg {
	width: 2rem;
	height: 2rem;
}
