$ad--font-size: $font-size-xs;
$ad--leaderboard-bg-color: greyscale(95);
$ad--leaderboard-padding: spacing(8);
$ad--mpu-background-color: greyscale(95);
$ad--mpu-margin-top: spacing(24);
$ad--mpu-padding-top: spacing(8);
$ad--mpu-padding-bottom: spacing(24);
$ad--mpu-label-margin-bottom: spacing(8);
$ad--label-margin-bottom: spacing(4);
$ad--label-color: greyscale(40);
$ad--label-line-height: 1.5;
