/**
 * @springernature/global-box
 * Standard box
 *
 */
@mixin box (
	$padding: $box--padding,
	$border: $box--border-color,
	$background: $box--background-color
) {
	border: 1px solid #{$border};
	padding: #{$padding};
	background-color: #{$background};
}

/**
 * @springernature/global-box
 * Circular box
 *
 */
@mixin box--circle (
	$diameter: $box--circle-diameter
) {
	padding: 0;
	border-radius: 50%;
	height: #{$diameter};
	width: #{$diameter};
	line-height: calc(#{$diameter} - 2px);
	text-align: center;
}