/**
 * Settings
 * Brand overrides for global-banner
 */

$banner--padding-y: spacing(16);
$banner--padding-y-compact: spacing(4);
$banner--font: $font-family-sans;
$banner--font-size: 1.6rem;
$banner--font-size-small: 1.4rem;
$banner--link-color: color('action-base');
$banner--background-color: color('action-background-light');
$banner--border: 1px solid color('corporate-light');
$banner--marketing-background-color: color('action-base');
$banner--marketing-border: 0;
$banner--marketing-color: white;


