/**
 * Settings
 * Brand overrides for global-banner
 */

$banner--link-color: color('action-base');
$banner--background-color: color('action-background-light');
$banner--border: 1px solid color('corporate-light');
