@mixin u-font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings

@mixin _heading-base() {
	font-weight: $context--font-weight-heading;
	@if $is-nature-branded {
		@include u-font-smoothing();
	}
}

%u-h1 {
	@include _heading-base();
	font-family: $context--font-family-primary;
	font-size: $context--font-size-h1;
	font-size: unquote('min(max(#{$context--font-size-h1-min}, 4vw), #{$context--font-size-h1})');
	letter-spacing: $context--letter-spacing;
	letter-spacing: unquote('min(max(#{$context--letter-spacing-min}, 4vw), #{$context--letter-spacing})');
	line-height: $context--line-height-h1;
	line-height: unquote('min(max(#{$context--line-height-h1-min}, 4vw), #{$context--line-height-h1})');
	margin-bottom: spacing(24);
}

%u-h2 {
	@include _heading-base();
	font-family: $context--font-family-primary;
	font-size: $context--font-size-h2;
	font-size: unquote('min(max(#{$context--font-size-h2-min}, 3.5vw), #{$context--font-size-h2})');
	letter-spacing: $context--letter-spacing-min;
	line-height: $context--line-height-h2;
	line-height: unquote('min(max(#{$context--line-height-h2-min}, 3.5vw), #{$context--line-height-h2})');
	margin-bottom: spacing(8);
}

%u-h3 {
	@include _heading-base();
	font-family: $context--font-family-primary;
	font-size: $context--font-size-h3;
	font-size: unquote('min(max(#{$context--font-size-h3-min}, 3.0vw), #{$context--font-size-h3})');
	letter-spacing: $context--letter-spacing-min;
	line-height: $context--line-height-h3;
	margin-bottom: spacing(8);
}

%u-h4 {
	@include _heading-base();
	font-family: $context--font-family-secondary;
	font-size: $context--font-size-h4;
	font-size: unquote('min(max(#{$context--font-size-h4-min}, 2.5vw), #{$context--font-size-h4})');
	letter-spacing: $context--letter-spacing-min;
	line-height: $context--line-height-h4;
	margin-bottom: spacing(8);
}
