@mixin u-font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings

@mixin _heading-base() {
	font-weight: $context--font-weight-heading;
	line-height: $context--line-height-heading;
	@if $is-nature-branded {
		@include u-font-smoothing();
	}
}

@mixin u-h1() {
	@include _heading-base();
	font-size: $context--font-size-h1;
	margin-bottom: spacing(24);
	font-family: $context--font-family-primary;
}

@mixin u-h2() {
	@include _heading-base();
	font-size: $context--font-size-h2;
	margin-bottom: spacing(8);
	font-family: $context--font-family-primary;
}

@mixin u-h3() {
	@include _heading-base();
	font-size: $context--font-size-h3;
	margin-bottom: spacing(8);
	font-family: $context--font-family-primary;
}

@mixin u-h4() {
	@include _heading-base();
	font-size: $context--font-size-h4;
	margin-bottom: spacing(8);
	font-family: $font-family-secondary;
}
