/**
 * @springernature/global-author-list
 * Default skin settings
 *
 */

// base
$global-author-list--font-size: 1rem;
$global-author-list--color: black;
$global-author-list--line-height: inherit;
$global-author-list--font-family: inherit;

// --compact
$global-author-list--compact-font-size: .875rem;
$global-author-list--compact-line-height: 1.4;

