/**
 * @springernature/global-author-list
 * Default skin settings
 *
 */

// base
$global-author-list--font-size: 1.6rem;
$global-author-list--color: black;

// --compact
$global-author-list--compact-font-size: 1.4rem;
$global-author-list--compact-line-height: 1.4;
