.c-dropdown {
	background-color: $dropdown--background-color;
	color: $dropdown--color;
	padding: $dropdown--spacing-medium;
	line-height: $dropdown--line-height;

	.js & {
		background: none;
		padding: 0;
		position: relative;
	}
}

.c-dropdown__label {
	display: block;
	font-weight: $dropdown--font-weight;
	white-space: nowrap;
	margin-bottom: $dropdown--spacing-small;
	font-size: $dropdown--font-size-small;
	.js & {
		display: none;
		visibility: hidden;
	}
}

.c-dropdown__menu {
	@include u-list-reset();
	.js & {
		background-color: $dropdown--menu-background-color;
		border-radius: $dropdown--menu-border-radius;
		box-shadow: $dropdown--menu-box-shadow;
		box-sizing: border-box;
		padding: $dropdown--spacing-small 0;
		position: absolute;
		transform: translateY(8px);
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;
	}
}

.c-dropdown__link {
	@include u-link-underline;
	font-size: $dropdown--font-size-small;

	.js & {
		color: $dropdown__menu-link-color;
		padding: $dropdown--spacing-x-small $dropdown--spacing-medium;
		font-size: $dropdown--font-size;
		display: block;
		text-decoration: none;
		&:hover {
			outline: 0;
			background-color: $dropdown__menu-link-hover-background-color;
			color: $dropdown__menu-link-hover-color;
		}
		&:focus {
			outline: 3px solid $dropdown--button-focus-color;
		}
	}
}

.c-dropdown__button {
	display: none;
	visibility: hidden;
	.js & {
		align-items: center;
		background: $dropdown--button-background-color;
		border: $dropdown--button-border;
		border-radius: $dropdown--button-border-radius;
		color: $dropdown--button-color;
		display: flex;
		font-size: $dropdown--font-size;
		height: 34px;
		justify-content: space-between;
		padding: 0 $dropdown--spacing-medium;
		visibility: visible;
		width: 100%;

		> svg {
			transition-duration: 0.2s;
		}

		&.is-open {
			outline: 3px solid $dropdown--button-focus-color;

			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.js .c-dropdown__icon {
	@include u-icon();
	vertical-align: middle;
	flex: 0 0 auto;
}
