.c-meta {
	@include font-size($springer-meta--font-size);
	font-family: $springer-meta--font-family;
	display: flex;
	flex-wrap: wrap;
	color: $springer-meta--color;
	line-height: $springer-meta--line-height;
}

.c-meta__item {
	flex: 0 1 auto;
	margin-bottom: $springer-meta--margin-bottom;

	&:not(:last-child) {
		padding-right: $springer-meta--padding-right;
		margin-right: $springer-meta--margin-right;
		border-right: $springer-meta--border;
	}
}

.c-meta__type {
	text-transform: uppercase;
	font-weight: $springer-meta--font-weight;
}
