.c-sort-by {
	font-size: $sort-by--font-size;
	line-height: $sort-by--line-height;
}

.c-sort-by__heading {
	font-weight: $sort-by--heading-font-weight;
	margin-bottom: spacing(8);
}

.c-sort-by__input-container {
	margin-bottom: spacing(8);
}

[class~='c-sort-by__input-container']:last-of-type  {
	margin-bottom: 0;
}

.c-sort-by__input {
	vertical-align: middle;
	margin-top: -1px;
}

.c-sort-by__button {
	margin-top: spacing(8);
}

.js .c-sort-by__button {
	display: none;
}

@include media-query('md') {
	.c-sort-by {
		display: flex;
		align-items: center;
	}

	.c-sort-by__heading {
		margin-bottom: 0;
	}

	.c-sort-by__input-container {
		margin-bottom: 0;
	}

	.c-sort-by__input {
		margin-left: spacing(16)
	}

	.c-sort-by__label {
		padding-left: spacing(4);
	}

	.c-sort-by__button {
		margin-left: spacing(16);
		margin-top: 0;
	}
}
