.c-user-metadata {
	@include u-text-sans-serif;
	@include font-size($springer-user-metadata--font-size);
	color: $springer-user-metadata--font-colour;
	line-height: $springer-user-metadata--line-height;
	padding-top: $springer-user-metadata--padding;
}

.c-user-metadata__item {
	margin-top: 0;
	margin-bottom: $springer-publisher-footer--padding-compact;

	&:last-child {
		margin-bottom: 0;
	}
}
