$section-heading--border-top: 5px solid black;
$section-heading--border-bottom: 1px solid black;
$section-heading--padding--top: spacing(8);
$section-heading--padding--bottom: spacing(8);
$section-heading--margin-bottom: spacing(24);
$section-heading--line-height: 1.4;
$section-heading--icon-spacing: spacing(4);
