$details--padding: spacing(16);
$details--icon-margin: spacing(8);
$details--border-color: currentColor;
$details--icon-color: currentColor;
$details--focus-underline-color: currentColor;
$details--title-font-family: inherit;
