/**
 * @springernature/global-dropdown
 * Default skin settings
 * Replace these in your application
 *
 */

$global-dropdown--color: red;
$global-dropdown--hover-color: blue;
$global-dropdown--border-color: green;
$global-dropdown--background-color: yellow;
$global-dropdown--hover-background-color: black;
