/**
 * @springernature/global-dropdown
 * Default skin settings
 * Replace these in your application
 *
 */

$dropdown--background-color: lightgrey;
$dropdown--color: black;
$dropdown--line-height: 1.5;
$dropdown--spacing-x-small: spacing(4);
$dropdown--spacing-small: spacing(8);
$dropdown--spacing-medium: spacing(16);
$dropdown--spacing-large: spacing(24);

$dropdown--font-size-x-small: .75rem;
$dropdown--font-size-small: .875rem;
$dropdown--font-size: 1rem;
$dropdown--font-weight: 700;

$dropdown--button-color: black;
$dropdown--button-background-color: white;
$dropdown--button-border: 1px solid $dropdown--button-color;
$dropdown--button-border-radius: 3px;
$dropdown--button-focus-color: #fece3e;

$dropdown--menu-background-color: white;
$dropdown--menu-border-radius: 3px;
$dropdown--menu-box-shadow: 0 0 5px 0 #ccc;
$dropdown--menu-min-width: 290px;

$dropdown__menu-link-color: black;
$dropdown__menu-link-hover-background-color: #29303c;
$dropdown__menu-link-hover-color: white;

$dropdown__icon-size: $dropdown--font-size-x-small;
