// Default setting
@import 'default';

$dropdown--button-color: black;
$dropdown--button-border: 1px solid $dropdown--button-color;

$dropdown--menu-background-color: #1a1919;
$dropdown--menu-box-shadow: 0 0 5px 0 #1a1919;

$dropdown__menu-link-color: white;
$dropdown__menu-link-hover-background-color: #536179;

