.c-list-group {
	@include u-list-reset;
	line-height: $list-group--line-height;
}

.c-list-group__item > a {
	@include u-link-interface;
}

.c-list-group--xs .c-list-group__item {
	padding: $list-group--padding-xs;
}

.c-list-group--sm .c-list-group__item {
	padding: $list-group--padding-sm;
}

.c-list-group--md .c-list-group__item {
	padding: $list-group--padding-md;
}

.c-list-group--lg .c-list-group__item {
	padding: $list-group--padding-lg;
}

.c-list-group--bordered .c-list-group__item:not(:last-child) {
	border-bottom: 1px solid $list-group--border-color;
}

.c-list-group--flush .c-list-group__item:first-child {
	padding-top: 0;
}

.c-list-group--flush .c-list-group__item:last-child {
	padding-bottom: 0;
}
