.c-list-description {
	@include u-text-interface;
	margin-bottom: 0;
	width: 100%; // fix text breaking layout in IE10

	a {
		@include interface-link;
	}
}

.c-list-description__item {
	margin-bottom: $list-description--wrapper-margin-bottom;

	&:last-child {
		margin-bottom: 0;
	}
}

.c-list-description__term {
	font-weight: $list-description--font-weight;
	margin-bottom: $list-description--margin-bottom;
}

.c-list-description__details {
	display: block;
}

.c-list-description__details p {
	display: block;
	margin-bottom:  $list-description--margin-bottom;

	&:last-child {
		margin-bottom: 0;
	}
}
