.c-publisher-footer {
	color: #fff;
	@include u-text-furniture;
	background-color: $publisher-footer--background-color;
}

.c-publisher-footer__container {
	@include u-container;
}

.c-publisher-footer__section {
	border-top: $publisher-footer--border;
	padding-top: $publisher-footer--padding;
	padding-bottom: $publisher-footer--padding;
}

.c-publisher-footer__section--compact {
	padding-top: $publisher-footer--padding-compact;
	padding-bottom: $publisher-footer--padding-compact;
}

.c-publisher-footer__menu {
	column-gap: $publisher-footer--column-gap;

	@include media-query('xs') {
		column-count: $publisher-footer--columns-at-narrow;
	}

	@include media-query('md') {
		column-count: $publisher-footer--columns-at-wide;
		column-gap: $publisher-footer--column-gap-large;
	}
}

.c-publisher-footer__menu-group {
	break-inside: avoid-column;
	overflow: hidden; // avoid menu-group breaking into two columns for IE10
	padding-left: $publisher-footer--focus-border-size; // prevent focus border from being cut off by overflow
	margin-left: 0 - $publisher-footer--focus-border-size; // prevent focus border from being cut off by overflow
	padding-bottom: $publisher-footer--menu-section-padding-bottom;

	@include media-query('md') {
		padding-bottom: 0;
	}
}

.c-publisher-footer__heading {
	@include u-text-furniture;
	font-weight: $publisher-footer--heading-weight;
	margin-bottom: $publisher-footer--heading-margin-bottom;
}

.c-publisher-footer__list {
	@include u-list-reset;
}

.c-publisher-footer__item {
	padding: $publisher-footer--item-padding;
}

.c-publisher-footer__link,
.c-publisher-footer__link:visited {
	@include u-text-furniture;
	color: inherit;
	border: 0;
	padding: 0;
	background: none;
}

button.c-publisher-footer__link {
	text-decoration: underline;
}
