/**
 *  Button settings
 *
 */

$button-base--text-align: left;
$button-base--padding: 8px;
$button-base--font-size-normal: 1.6rem;
$button-base--line-height: 1.4;
$button-base--font-family: sans-serif;
$button-base--border-radius: 2px;
$button-shared--border-width-style: 1px solid;
$button-shared--transition: 0.25s ease, color 0.25s ease, border-color 0.25s ease;
$button--font-size-small: 1.4rem;
$button--font-size-large: 1.8rem;
$button--line-height-small: 1.2;
$button--line-height-large: 1.6;

/**
 * Button Themes
 * Variables to set themes styles
 *
 */

$button--default: (
	'color': darkblue,
	'backgroundColor': greyscale(95),
	'backgroundImage': linear-gradient(to bottom, white, greyscale(95)),
	'border': $button-shared--border-width-style greyscale(80),
	'visitedColor': darkblue,
	'hoverColor': white,
	'hoverBorderColor': greyscale(40),
	'hoverBackgroundColor': greyscale(40),
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorderColor': greyscale(40),
	'focusTextDecoration': none
);

$button--primary: (
	'color': white,
	'backgroundColor': darkblue,
	'backgroundImage': none,
	'border': $button-shared--border-width-style blue,
	'visitedColor': white,
	'hoverColor': white,
	'hoverBorderColor': blue,
	'hoverBackgroundColor': blue,
	'hoverBackgroundImage': none,
	'focusBorderColor': blue,
	'activeBorderColor': blue
);

$button--disabled: (
	'color': greyscale(),
	'backgroundColor': transparent,
	'backgroundImage': none,
	'border': $button-shared--border-width-style greyscale(80),
	'visitedColor': greyscale(),
	'opacity': 0.7,
	'hoverColor': greyscale(),
	'hoverBorderColor': greyscale(70),
	'hoverBackgroundColor': transparent,
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorderColor': greyscale(70),
	'focusTextDecoration': none
);
