/**
 *  Button settings
 *
 */

$button-base--text-align: left;
$button-base--padding: 8px;
$button-base--line-height: 1.6;
$button-base--border-radius: 2px;
$button-shared--border-width: 1px;
$button-shared--border-style: solid;
$button-shared--transition: 0.25s ease, color 0.25s ease, border-color 0.25s ease;

/**
 * Button Themes
 * Variables to set themes styles
 *
 */

$button--default: (
	'color': color('action-base'),
	'backgroundColor': greyscale(95),
	'backgroundImage': linear-gradient(to bottom, $page-base, greyscale(95)),
	'borderColor': greyscale(80),
	'visitedColor': color('action-base'),
	'hoverColor': white,
	'hoverBorderColor': greyscale(40),
	'hoverBackgroundColor': greyscale(40),
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorderColor': greyscale(40),
	'focusTextDecoration': none
);

$button--primary: (
	'color': white,
	'backgroundColor': mix(white, color('corporate-light'), 20%),
	'backgroundImage': linear-gradient(to bottom, mix(white, color('corporate-light'), 30%), mix(white, color('corporate-light'), 20%)),
	'borderColor': color('corporate-light', 0.5),
	'visitedColor': white,
	'hoverColor': white,
	'hoverBorderColor': color('action-light'),
	'hoverBackgroundColor': color('action-light'),
	'hoverBackgroundImage': none,
	'focusBorderColor': color('action-light'),
	'activeBorderColor': color('action-dull')
);

$button--disabled: (
	'color': greyscale(),
	'backgroundColor': transparent,
	'backgroundImage': none,
	'borderColor': greyscale(80),
	'visitedColor': greyscale(),
	'opacity': 0.67,
	'hoverColor': greyscale(),
	'hoverBorderColor': greyscale(70),
	'hoverBackgroundColor': transparent,
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorderColor': greyscale(70),
	'focusTextDecoration': none
);
