.c-underline-nav {
	@include u-list-reset;
	display: flex;
	border-bottom: $underline-nav--border-bottom;
}

.c-underline-nav__link {
	display: block;
	padding: $underline-nav--link-padding;
	border-bottom: $underline-nav--link-border-width solid transparent;
	color: $underline-nav--link-color;
	line-height: $underline-nav--link-line-height;
	font-size: $underline-nav--link-font-size;
	font-weight: $underline-nav--link-font-weight;
	font-family: $underline-nav--link-font-family;
	text-decoration: none;

	&:focus {
		text-decoration: none;
	}

	&:visited {
		color: $underline-nav--link-color;
	}

	&:hover,
	&[aria-current="true"]:hover {
		color: $underline-nav--hover-link-color;
		border-bottom-color: $underline-nav--hover-border-color;
	}
}

.c-underline-nav__link[aria-current="true"] {
	font-weight: $underline-nav--current-link-font-weight;
}

.c-underline-nav__link[aria-current="true"],
.c-underline-nav__link[aria-current="true"]:visited {
	color: $underline-nav--current-link-color;
	border-bottom-color: $underline-nav--current-border-color;
}
