$header--header-height: 40px;
$header--content-width: 1184px;
$header__site-logo-height-small: 35px;
$header__site-logo-width-small: 123px;
$header__site-logo-height: 45px;
$header__site-logo-width: 158px;
