.u-full-height {
	height: 100%;
}

.u-vertical-align-baseline {
	vertical-align: baseline;
}

.u-vertical-align-top {
	vertical-align: top;
}

.u-vertical-align-bottom {
	vertical-align: bottom;
}

.u-vertical-align-middle {
	vertical-align: middle;
}
