.u-list-style-number {
	list-style-type: decimal;
}

.u-list-style-bullet {
	list-style-type: disc;
}

.u-list-style-none {
	list-style-type: none;
}

.u-list-reset {
	@include u-list-reset;
}

.u-list-inline {
	@include u-list-inline;
}

.u-custom-list-number {
	@include custom-list-number;
}
