.u-position-absolute {
	position: absolute;
}

.u-position-relative {
	position: relative;
}

.u-position-top {
	top: 0;
}

.u-position-left {
	left: 0;
}

.u-position-bottom {
	bottom: 0;
}

.u-position-right {
	right: 0;
}

.u-position-negative-right {
	right: 100%;
}
