@charset "UTF-8";

// we must not add `node_modules/` to the Sass includePaths config,
//   so use relative paths here. Paths should be relative to this file.
@import '../node_modules/@springernature/brand-context/springer/scss/core.scss';
@import '../node_modules/@springernature/brand-context/springer/scss/enhanced.scss';

// component SCSS
@import '../scss/10-settings/springer-expander';
@import '../scss/50-components/springer-expander';
