.u-text-xs {
	font-size: $context--font-size-xs;
}

.u-text-sm {
	font-size: $context--font-size-sm;
}

.u-text-md {
	font-size: $context--font-size-md;
}

.u-text-lg {
	font-size: $context--font-size-lg;
}

.u-text-sans-serif {
	font-family: $context--font-family-sans;
}

.u-text-serif {
	font-family: $context--font-family-serif;
}

.u-text-font-smoothing {
	@include u-text-font-smoothing;
}

.u-text-right {
	@include u-text-right;
}

.u-word-wrap {
	@include word-wrap;
}

/**
 * Classes used to maintain the semantically appropriate heading levels
 */

.u-h1 {
	@include u-h1();
}

.u-h2 {
	@include u-h2();
}

.u-h3 {
	@include u-h3();
}

.u-h4 {
	@include u-h4();
}

