$footer--background-color: greyscale(5);
$footer--text-color: greyscale(70);
$footer--font-size: .875rem;
$footer--line-height: 1.4;
$footer--header-border-bottom: 1px solid greyscale(20);
$footer--heading-color: greyscale(90);
$footer--heading-font-family: $context--font-family-sans;

$footer--spacing-small: 8px;
$footer--spacing-medium: 16px;
$footer--spacing-large: 24px;
