@charset "UTF-8";

// we must not add `node_modules/` to the SASS includePaths config,
//   so use relative paths here. Paths are be relative to this file.
@import '../node_modules/@springernature/brand-context/default/scss/core.scss';
@import '../node_modules/@springernature/brand-context/default/scss/enhanced.scss';
@import '../node_modules/@springernature/brand-context/springer/scss/core.scss';
@import '../node_modules/@springernature/brand-context/springer/scss/enhanced.scss';


// component SCSS
@import '../scss/10-settings/publisher-footer';
@import '../scss/50-components/publisher-footer';
