$card--gutter: 16px;
$card--font-family: inherit;
$card--font-size: 1.4rem;
$card--spacing: $card--gutter / 2;
$card--padding: $card--gutter;
$card--padding-x: 24px 0;
$card--background: transparent;
$card--title-font-weight: bold;
$card--title-font-size: 1.9rem;
$card--title-spacing: $card--spacing;

// --major
$card--major-font-size: 1.6rem;
$card--major-title-font-size: 2.4rem;

// --dark
$card--dark-background: slategrey;
$card--dark-color: lightgrey;
$card--dark-title-color: white;
$card--dark-body-padding: $card--gutter;
