@use 'sass:math';
/**
 * Card
 * Default branding for component
 */

$card--gutter: 16px;
$card--border: none;
$card--box-shadow: none;
$card--font-family: inherit;
$card--font-size: 14px;
$card--spacing: math.div($card--gutter, 2);
$card--padding: $card--gutter;
$card--padding-x: 0;
$card--background: transparent;
$card--title-spacing: $card--spacing;
$card--title-font-weight: $context--font-weight-normal;
$card--title-heading: h4;
$card--title-letter-spacing: normal;
$card--image-aspect-ratio: #{16 / 9};

// --major
$card--major-font-size: 1rem;
$card--major-title-heading: h2;

// --dark
$card--dark-background: slategrey;
$card--dark-color: lightgrey;
$card--dark-title-color: white;
$card--dark-body-padding: $card--gutter;
