/**
 * Card
 * Default branding for component
 */

$card--border: none;
$card--box-shadow: none;
$card--font-family: inherit;
$card--font-size: 14px;
$card--spacing: 8px;
$card--padding: 16px;
$card--padding-x: 0;
$card--background: transparent;
$card--title-font-weight: $context--font-weight-normal;
$card--title-heading: h4;
$card--title-letter-spacing: normal;
$card--image-aspect-ratio: #{16 / 9};

// --major
$card--major-font-size: 1rem;
$card--major-title-heading: h2;

// --dark
$card--dark-background: #000;
$card--dark-color: #fff;
$card--dark-title-color: white;
