/**
 * Card
 * Nature branding for component
 */

// Default setting
@import 'default';

// Nature overrides
$card--padding-x: 0;
$card--dark-background: #29303c;
$card--dark-color: #e3e4e5;
$card--title-font-weight: null;
$card--title-heading: h3;
$card--title-letter-spacing: -0.01875rem;
