/**
 * Card
 * Springer branding for component
 */

// Default setting
@import 'default';

// Springer overrides
$card--padding-x: 0;
$card--background: #fff;
$card--dark-background: #00285a;
$card--dark-color: #fff;
$card--title-font-weight: normal;
$card--title-heading: h3;
$card--border-width: 1px;
$card--border: 1px solid greyscale(80);
$card--font-size: 1rem;
$card--dark-background: color('dark-blue');
$card--box-shadow: none;
