/**
 * Card
 * Springer Nature branding for component
 */

// Default setting
@import 'default';

// Springer Nature overrides
$card--title-font-weight: $context--font-weight-normal;
$card--title-heading: h4;
$card--title-letter-spacing: 0.02em;
