* {
	margin-block: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0; // This resets the default margins from the core experience to allow them to be handled by the block spacing for enhanced view
}

// Arbitrary semantic elements are likely to be CMS generated and need default margin applied.
// The specificity is that of one element selector.
:is(p, ol, ul, dl, figure, blockquote, form, pre, table, img, video, aside, section, article) +
:is(p, ol, ul, dl, figure, blockquote, form, pre, table, img, video, aside, section, article) {
	margin-block-start: $t-typography-block-spacing-medium;
}

// <div> elements found among basic semantic content likely need similar margin applied.
// The specificity is that of two element selectors; a utility class can override it
:is(p, ol, ul, dl, figure, blockquote, pre, table, img, video) + div,
div + :is(p, ol, ul, dl, figure, blockquote, pre, table, img, video) {
	margin-block-start: $t-typography-block-spacing-medium;
}

// Headings have differing margins to other flow elements.
// No matter the type of sibling elements, these margins should be applied.
// The specificity is equal to one element selector; a utility class can override it
* + :is(h2, h3, h4, h5) {
	margin-block-start: $t-typography-block-spacing-large;
}

:is(h3, h4, h5) + * {
	margin-block-start: $t-typography-block-spacing-small;
}

h2 + * {
	margin-block-start: $t-typography-block-spacing-medium;
}

h1 + * {
	margin-block-start: $t-typography-block-spacing-x-large;
}

// Remove margin applied to hidden first-child elements.
// Otherwise redundant margin appears at the top of the containing parent.
[hidden]:first-child + *,
[style*="display:none"]:first-child + *,
[style*="display: none"]:first-child + * {
	margin-block-start: 0;
}
