.c-header {
	background-color: white;
	border-bottom: 5px solid black;
	font-size: 1.6rem;
	margin-bottom: spacing(16);
	line-height: 1.4;
}

.c-header__row {
	position: relative;
	padding: spacing(8) 0;

	&:not(:last-child) {
		border-bottom: 1px solid greyscale(80);
	}
}

.c-header__row--flush {
	padding: 0;
}

.c-header__split {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-header__logo {
	display: flex;
	margin-right: spacing(16);
	transform: translateZ(0); // promote new layer for mobile safari to avoid mangled logo during layout repaint

	@include media-query('md') {
		margin-right: spacing(0);
	}

	img {
		max-height: 32px;
	}
}

.c-header__container {
	@include u-container();
}

.c-header__menu {
	@include u-list-reset();
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 0 1 auto;
	line-height: 1.4;
	margin: 0 (0 - spacing(8)); // Make flush with edge
}

.c-header__menu--primary {
	font-weight: $font-weight-bold;
}

.c-header__menu--secondary {
	font-weight: $font-weight-bold;

	@include media-query('lg', 'max') {
		display: none;
	}
}

.c-header__item {
	display: flex;

	&:not(:first-child) {
		margin-left: spacing(8);
	}
}

.c-header__item--pipe {
	@include media-query('md') {
		white-space: nowrap;
		border-left: 2px solid greyscale(80);
		padding-left: spacing(8);
	}
}

.c-header__row--flush .c-header__item {
	padding-top: spacing(8);
	padding-bottom: spacing(8);
}

.c-header__link {
	@include u-link-inherit();
	padding: spacing(8);
	display: flex;
	align-items: center;
	white-space: nowrap;

	> svg {
		margin-left: spacing(4);
		transition-duration: 0.2s;
	}
}

.c-header__nature-research {
	@include media-query('md', 'max') {
		display: none;
	}
}

.c-header__show-text {
	display: none;
	@include media-query('sm') {
		display: inline;
	}
}

/**
 Javascript Enhancements
 */

.c-header__link.is-open {
	color: color('blue');
	background-color: greyscale(80);
	border-radius: 2px;
	text-decoration: none;

	svg {
		fill: currentColor;
	}
}

.c-header__item--dropdown-menu {
	position: relative;

	.c-header__link.is-open {
		svg {
			transform: rotate(180deg);
		}
	}
}

