.c-header {
	background-color: white;
	border-bottom: 5px solid black;
	font-size: 1.6rem;
	margin-bottom: spacing(16);
	line-height: 1.4;
}

.c-header__row {
	position: relative;
	padding: spacing(8) 0;

	&:not(:last-child) {
		border-bottom: 1px solid greyscale(80);
	}
}

.c-header__row--flush {
	padding: 0;
}

.c-header__split {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-header__logo-container {
	flex: 1 1 0;
	margin-right: spacing(24);
	line-height: 0; // Can be an h1 or a div
}

.c-header__logo {
	transform: translateZ(0); // promote new layer for mobile safari to avoid mangled logo during layout repaint

	img {
		max-height: 32px;
	}
}

.c-header__container {
	@include u-container();
}

.c-header__menu {
	@include u-list-reset();
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 0 1 auto;
	font-weight: $font-weight-bold;
	line-height: 1.4;
	margin: 0 (0 - spacing(8)); // Make flush with edge
}

.c-header__menu--global {
	font-weight: $font-weight-normal;
	justify-content: flex-end;
}

.c-header__menu--global .c-header__item {
	svg {
		display: none;

		@include media-query('sm') {
			display: block;
		}
	}
}

.c-header__menu--journal {
	font-size: 1.4rem;

	@include media-query('sm') {
		flex-wrap: nowrap;
	}

	@include media-query('sm') {
		font-size: 1.6rem;
	}
}

.c-header__menu--tools {
	@include media-query('lg', 'max') {
		display: none;
	}
}

.c-header__item {
	display: flex;

	@include media-query('sm') {
		&:not(:first-child) {
			margin-left: spacing(8);
		}
	}
}

.c-header__item--pipe {
	border-left: 2px solid greyscale(80);
	padding-left: spacing(8);
}

.c-header__item--nature-research {
	@include media-query('md', 'max') {
		display: none;
	}
}

.c-header__row--flush .c-header__item {
	padding-top: spacing(8);
	padding-bottom: spacing(8);
}

.c-header__link {
	@include u-link-inherit();
	padding: spacing(8);
	display: flex;
	align-items: center;
	text-transform: capitalize;
	white-space: nowrap;

	> svg {
		margin-left: spacing(2);
		transition-duration: 0.2s;

		@include media-query('sm') {
			margin-left: spacing(4);
		}
	}
}

.c-header__show-text {
	display: none;
	@include media-query('sm') {
		display: inline;
	}
}

/**
 Javascript Enhancements
 */

.c-header__link.is-open {
	color: color('blue');
	background-color: greyscale(80);
	border-radius: 2px;
	text-decoration: none;

	svg {
		fill: currentColor;
	}
}

.c-header__item--dropdown-menu {
	@include media-query('sm') {
		position: relative;
	}

	.c-header__link.is-open {
		svg {
			transform: rotate(180deg);
		}
	}
}

.c-header__menu--journal .c-header__item--dropdown-menu:last-child {
	.c-header-expander.has-tethered {
		@include media-query('sm') {
			left: auto;
			right: 0;
		}

		@include media-query('md') {
			left: 0;
			right: auto;
		}
	}
}
