.c-header {
	background-color: white;
	border-bottom: 5px solid black;
	font-size: 1rem;
	margin-bottom: spacing(16);
	line-height: 1.4;
}

.c-header__row {
	position: relative;
	padding: 0;

	&:not(:last-child) {
		border-bottom: 1px solid greyscale(80);
	}
}

.c-header__split {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-header__logo-container {
	flex: 1 1 0;
	margin: spacing(8) spacing(24) spacing(8) 0;
	line-height: 0; // Can be an h1 or a div
}

.c-header__logo {
	transform: translateZ(0); // promote new layer for mobile safari to avoid mangled logo during layout repaint

	img {
		max-height: 32px;
	}
}

.c-header__container {
	@include u-container();
}

.c-header__menu {
	@include u-hide-print;
	@include u-list-reset();
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 0 1 auto;
	font-weight: $context--font-weight-bold;
	line-height: 1.4;
	margin: 0 (0 - spacing(8)); // Make flush with edge
}

.c-header__menu--hide-lg-max {
	@include media-query('lg', 'max') {
		display: none;
	}
}

.c-header__menu--global {
	font-weight: $context--font-weight-normal;
	justify-content: flex-end;
	margin: 0 (0 - spacing(8)) 0 0;
}

.c-header__menu--global .c-header__item {
	svg {
		display: none;

		@include media-query('sm') {
			display: block;
		}
	}
}

.c-header__menu--journal {
	font-size: .875rem;
	margin: spacing(8) (0 - spacing(8)); // Make flush with edge

	@include media-query('sm') {
		flex-wrap: nowrap;
	}

	@include media-query('sm') {
		font-size: 1rem;
	}
}

.c-header__item {
	display: flex;
}

.c-header__item--pipe {
	border-left: 2px solid greyscale(80);
	padding-left: spacing(8);
	margin-left: spacing(8);
}

.c-header__item--hide-lg {
	@include media-query('lg') {
		display: none;
	}
}

.c-header__item--hide-lg-max {
	@include media-query('lg', 'max') {
		display: none;
	}
}

.c-header__item--hide-md-max {
	@include media-query('md', 'max') {
		display: none;
	}
}

.c-header__item--padding {
	padding-top: spacing(8);
	padding-bottom: spacing(8);
}

.c-header__item--dropdown-menu {
	@include media-query('sm') {
		position: relative;

		&:not(:first-child) {
			margin-left: spacing(8);
		}
	}
}

.c-header__link {
	@include u-link-inherit();
	padding: spacing(8);
	display: inline-flex;
	align-items: center;
	white-space: nowrap;

	::first-letter {
		text-transform: capitalize;
	}

	svg {
		margin-left: spacing(4);
		transition-duration: 0.2s;
	}
}

.c-header__show-text {
	display: none;

	@include media-query('sm') {
		display: inline;
	}
}

.c-header__dropdown {
	@include u-hide-print;
	background-color: black;
	border-bottom: 1px solid greyscale(5); // non-js
	color: greyscale(90);
	padding: spacing(16) 0;
	font-size: .875rem;
	line-height: 1.2;
}

.c-header__search-button {
	@include button-default;
	@include button-full-width;
	border: 1px solid white;
	color: white;
	background-color: transparent;

	&:hover {
		background-color: white;
		color: black;
	}
}

.c-header__heading {
	display: inline-block;
	line-height: 1.4;
	font-size: 1.25rem;
	font-family: $context--font-family-sans;
	font-weight: $context--font-weight-normal;
	margin-bottom: spacing(8);
}

.c-header__heading--keyline {
	@include u-keyline($direction: top);
	width: 100%;
}

.c-header__list {
	@include u-list-reset;
	display: flex;
	flex-wrap: wrap;
}

/**
 Javascript Enhancements
 */

.c-header__link.is-open {
	color: color('blue');
	background-color: greyscale(80);
	border-radius: 2px;
	text-decoration: none;

	svg {
		fill: currentColor;
	}
}

.c-header__item--dropdown-menu {
	.c-header__link.is-open {
		svg {
			transform: rotate(180deg);
		}
	}
}

.c-header__menu--journal .c-header__item--dropdown-menu:last-child {
	.c-header__dropdown.has-tethered {
		@include media-query('sm') {
			left: auto;
			right: 0;
		}

		@include media-query('md') {
			left: 0;
			right: auto;
		}
	}
}

.c-header__dropdown.has-tethered {
	position: absolute;
	top: 100%; // bottom of the tether element
	transform: translateY(5px);
	z-index: 1;
	left: 0;
	width: 100%;
	border-radius: 0 0 2px 2px;
	border-bottom: 0;

	@include media-query('sm') {
		transform: translateY(8px);
		width: auto;
	}

	@include media-query('md') {
		min-width: 225px;
	}

	.c-header__heading--hide {
		@include u-hide;
	}

	.c-header__list {
		flex-direction: column;
	}

	.c-header__link {
		margin: 0;
		padding: spacing(8) 0;
	}

	.c-header__item--keyline {
		@include u-keyline($direction: top, $spacing: spacing(8));
	}

	.c-header__item--keyline-first-item-only ~ .c-header__item--keyline-first-item-only {
		border-top: none;
		padding-top: 0;
		margin-top: 0;
	}
}

.c-header__dropdown--full-width.has-tethered {
	width: 100%;
	padding: spacing(32) 0 spacing(24);
	transform: none;
}
