.c-header-expander {
	background-color: black;
	border-bottom: 1px solid greyscale(5); // non-js
	color: greyscale(90);
	padding: spacing(16) 0;
	font-size: 1.4rem;
	line-height: 1.2;

	a {
		@include u-link-inherit();
	}

	button {
		border: 1px solid white;
		color: white;
		background-color: transparent;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}

.c-header-expander__container {
	@include u-container;
}

.c-header-expander__keyline {
	border-bottom: 1px solid greyscale(20);
	padding-bottom: spacing(16);
	margin-bottom: 0;
}

.c-header-expander__heading {
	display: inline-block;
	line-height: 1.4;
	font-size: 2rem;
	font-family: $font-family-sans;
	font-weight: $font-weight-normal;
}

.c-header-expander__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.c-header-expander__item {
	margin: 0 spacing(16) spacing(8) 0;
}

.c-header-expander__link {
	@include u-link-inherit();
	display: flex;
	align-items: center;
	white-space: nowrap;

	> svg {
		margin-left: spacing(8);
	}
}

.c-header-expander__form {
	@include media-query('md') {
		max-width: 600px;
	}
}

/**
 JavaScript Enhancements
 */

.c-header-expander.has-tethered {
	position: absolute;
	top: 100%; // bottom of the tether element
	transform: translateY(8px);
	z-index: 1;
	left: 0;
	width: auto;
	min-width: 225px;
	border-radius: 0 0 2px 2px;
	border-bottom: 0;

	.c-header-expander__list {
		display: block;
	}

	.c-header-expander__item {
		margin: 0;
		padding: spacing(8) 0;
	}

	.c-header-expander__item--keyline {
		border-top: 1px solid white;
		padding-top: spacing(16);
		margin-top: spacing(8);
	}

	.c-header-expander__item--keyline-first-item-only ~ .c-header-expander__item--keyline-first-item-only {
		border-top: none;
		padding-top: 0;
	}
}

.c-header-expander--tray.has-tethered {
	width: 100%;
	padding: spacing(32) 0 spacing(24);
	transform: none;
}
