/**
 * Regular buttons
 *
 */

.c-button {
	@include button($button--default);
}

/* button themes */

.c-button--primary {
	@include button-theme($button--primary);
}

.c-button--ghost {
	@include button-theme($button--ghost);
}

.c-button--disabled,
.c-button:disabled {
	@include button-disabled;
}

/* button variants */

.c-button--small {
	font-size: $button--font-size-small;
}

.c-button--large {
	font-size: $button--font-size-large;
	padding: $button--padding-large;
}

.c-button--full-width {
	display: flex;
	width: 100%;
}

.c-button--icon-left {
	svg {
		margin-right: $button--icon-margin;
	 }
}

.c-button--icon-right {
	svg {
		margin-left: $button--icon-margin;
	 }
}
