.c-box {
	background-color: $box--background-color;
	border-radius: $box--border-radius;
	box-shadow: $box--box-shadow;
	border-top: $box--border;
	border-right: $box--border;
	border-bottom: $box--border;
	border-left: $box--border;
	line-height: $box--line-height;
	padding: $box--padding;
}

.c-box--error {
	border-bottom: $box--border-error;
}

.c-box--warning {
	border-bottom: $box--border-warning;
}

.c-box--success {
	border-bottom: $box--border-success;
}

.c-box__heading {
	@include font-size($box--heading-font-size);
	border-bottom: $box--border;
	margin: $box--heading-margin;
	padding: $box--heading-padding;
}

.c-box__item {
	@include u-text-interface;
	@include unvisited-link;
	@include interface-link;
	display: block;
	margin-bottom: $box--margin-bottom;
}

.c-box__item-text {
	display: block;
	max-width: 90%;
}
