@mixin u-font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings

@mixin _heading-base() {
	font-weight: $context--heading-font-weight;
	@if $is-flagship-journal {
		@include u-font-smoothing();
		line-height: $context--heading-line-height;
	}
}

@mixin u-h1() {
	@include _heading-base();
	font-size: $context--font-size-h1;
	margin-bottom: spacing(24);
	font-family: $font-family-serif;
	font-weight: $context--heading-font-weight;
}

@mixin u-h2() {
	@include _heading-base();
	font-size: $context--font-size-h2;
	margin-bottom: spacing(8);
	font-family: $font-family-serif;
	font-weight: $context--heading-font-weight;
}

@mixin u-h3() {
	@include _heading-base();
	font-size: $context--font-size-h3;
	margin-bottom: spacing(8);
	font-family: $font-family-serif;
	font-weight: $context--heading-font-weight;
}

@mixin u-h4() {
	@include _heading-base();
	font-size: $context--font-size-h4;
	margin-bottom: spacing(8);
	font-family: $font-family-sans;
	font-weight: $context--heading-font-weight;
}
