$list-group--border-color: greyscale(80);
$list-group--padding-xs: spacing(4) 0;
$list-group--padding-sm: spacing(8) 0;
$list-group--padding-md: spacing(16) 0;
$list-group--padding-lg: spacing(24) 0;
$list-group--line-height: $context--line-height-tight;
