$list-group--border-color: greyscale(80);
$list-group--padding-sm: get-spacing(sm) 0;
$list-group--padding-md: get-spacing(md) 0;
$list-group--padding-lg: get-spacing(lg) 0;
$list-group--line-height: $line-height-tight;
