/**
 * Typography
 * Font settings
 */

$is-flagship-journal: false !default;
$primary-font: if($is-flagship-journal, Harding, Lora);
$font-family-serif: $primary-font, Palatino, Times, 'Times New Roman', serif;
