/**
 * Typography
 * Font settings
 */

$is-flagship-journal: false !default;
$primary-font: if($is-flagship-journal, Harding, Lora);
$font-family-serif: $primary-font, Palatino, Times, 'Times New Roman', serif;
@if ($is-flagship-journal) {
	$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@else {
	$font-family-sans: "Source Sans Pro", helvetica, arial, sans-serif;
}


// Define your base size in EMs
// http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
$context--font-size-base: 1.8em;
