
.c-forms__error-summary {
	border: $forms--errors-summary-border;
	padding: $forms--errors-summary-padding;
	margin-bottom: $forms--errors-summary-margin-bottom;
}

.c-forms__error-summary__heading {
	margin-bottom: $forms--errors-summary-heading-margin-bottom;
}

.c-forms__error-summary__general-list,
.c-forms__error-summary__specific-list {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	color: $forms--errors-summary-general-list-color;
	margin-bottom: $forms--errors-summary-general-list-margin-bottom;
}

.c-forms__error-summary__specific-list {
	a {
		font-weight: $forms--errors-summary-specific-list-font-weight;
		color: inherit;
	}
}

.c-forms__error-summary__general-list,
.c-forms__error-summary__specific-list {
	line-height: 1.5;
}
