@mixin forms--input {
	display: block;
	width: 100%;
	line-height: 1.4;
	margin-bottom: $forms--input-margin-bottom;
	font-family: $context--font-family-sans;
	padding: $forms--input-padding;
	border: $forms--input-border;
	border-radius: $forms--input-border-radius;
}

.c-forms__section {
	margin-bottom: $forms--section-margin-bottom;
}

.c-forms__field {
	width: 100%;

	margin-bottom: $forms--field-margin-bottom;
	line-height: 1.2;
	font-size: $forms--font-size;
	font-family: $context--font-family-sans;

	fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

@include from-wide-tablet {
	.c-forms__field {
		max-width: $forms--input-max-width;
	}
}

.c-forms__label-text {
	display: block;
	font-weight: $context--font-weight-bold;
	margin-bottom: $forms--label-text-margin-bottom;
}

.c-forms__hint {
	display: block;
	margin-bottom: $forms--hint-margin-bottom;
	color: $forms--hint-color;
}

.c-forms__input {
	@include forms--input;
}

.c-forms__heading {
	margin-bottom: $forms--heading-margin-bottom;
}

.c-forms__subheading {
	margin-bottom: $forms--subheading-margin-bottom;
}

.c-forms__radio {
	display: block;
	padding: $forms--radio-padding;
}

.c-forms__radio [type="radio"] {
	margin-right: $forms--radio-margin-right;
}

.c-forms__checkbox {
	display: block;
	padding: $forms--checkbox-padding;
}

.c-forms__checkbox [type="checkbox"] {
	margin-right: $forms--checkbox-margin-right;
}

.c-forms__select {
	@include forms--input;
	padding: 0;
	position: relative;
	background-color: $forms--select-background-color;

	&:after {
		content: '';
		position: absolute;
		top: .8em;
		right: .5em;
		border-left: .4em solid transparent;
		border-right: .4em solid transparent;
		border-top: .5em solid $forms--select-arrow-color;
		display: block;
	}

	& select {
		appearance: none;
		line-height: 1.4;
		background-color: transparent;
		border: none;
		padding: $forms--select-padding;
		display: block;
		width: 100%;

		&::-ms-expand {
			display: none;
		}
	}
}

.c-forms__label-text--inline {
	display: inline;
}

.c-forms__indent {
	margin-left: $forms--indent-margin-left;
	border-left: $forms--indent-border-left;
	padding-left: $forms--indent-padding-left;
}

.c-forms__field-error {
	color: #c30016;
	font-weight: $forms--field-error-font-weight;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: $forms--field-error-margin-bottom;

	svg {
		margin-right: .3em;
	}
}
