/**
 *  Button settings
 *  Springer
 *
 */

$context--button-font-family: $context--font-family-sans;
$context--button-font-size-small: $font-size-xs;
$context--button-font-size-normal: $font-size-sm;
$context--button-font-size-large: $font-size-sm;

// Button Themes
// Variables to set themes styles

$context--button-default: (
	'color': color('action-base'),
	'backgroundColor': greyscale(95),
	'backgroundImage': linear-gradient(to bottom, white, greyscale(95)),
	'border': $context--button-border-width-style greyscale(80),
	'visitedColor': color('action-base'),
	'hoverColor': white,
	'hoverBorder': $context--button-border-width-style greyscale(40),
	'hoverBackgroundColor': greyscale(40),
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorder': $context--button-border-width-style greyscale(40),
	'focusTextDecoration': none
);

$context--button-primary: (
	'color': white,
	'backgroundColor': mix(white, color('corporate-light'), 20%),
	'backgroundImage': linear-gradient(to bottom, mix(white, color('corporate-light'), 30%), mix(white, color('corporate-light'), 20%)),
	'border': $context--button-border-width-style color('corporate-light', 0.5),
	'visitedColor': white,
	'hoverColor': white,
	'hoverBorder': $context--button-border-width-style color('action-light'),
	'hoverBackgroundColor': color('action-light'),
	'hoverBackgroundImage': none,
	'focusBorder': $context--button-border-width-style color('action-light')
);

$context--button-ghost: (
	'color': greyscale(),
	'backgroundColor': transparent,
	'backgroundImage': none,
	'borderColor': greyscale(70),
	'visitedColor': greyscale(),
	'hoverColor': greyscale(),
	'hoverBorderColor': greyscale(40),
	'hoverBackgroundColor': greyscale(95, 0.5),
	'hoverBackgroundImage': none,
	'focusBorderColor': greyscale(40),
);

$context--button-disabled: (
	'color': greyscale(),
	'backgroundColor': transparent,
	'backgroundImage': none,
	'border': $context--button-border-width-style greyscale(80),
	'visitedColor': greyscale(),
	'opacity': 0.67,
	'hoverColor': greyscale(),
	'hoverBorder': $context--button-border-width-style greyscale(80),
	'hoverBackgroundColor': transparent,
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorder': $context--button-border-width-style greyscale(80),
	'focusTextDecoration': none
);
