$font-family-serif: Georgia, Palatino, serif;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 26px;
$font-size-xxl: 28px;

$font-size-furniture: $font-size-sm;
$font-size-interface: $font-size-sm;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weight: (
	// sass-lint:disable-block indentation
	normal: 400,
	bold: 700,
);

$line-height-base: 1.61803398875; // golden ratio
$line-height-tight: 1.4;
