@use '../../../../../../context/brand-context/default/scss/20-functions/spacing' as *;
@use '../../../../../../context/brand-context/springer/scss/20-functions/colors' as *;

$header--background-color: #fff;
$header--padding-y: spacing(16);
$header--padding-x: 0;
$header--border-color: greyscale(80);
$header--brand-spacing: spacing(32);
$header--item-color: inherit;
