$header--background: greyscale(90) linear-gradient($page-base, greyscale(90));
$header--padding-y: spacing(16);
$header--padding-x: 0;
$header--border-color: greyscale(80);
$header--brand-spacing: spacing(32);
$header--item-color: inherit;
