$springer-header--background: greyscale(90) linear-gradient($page-base, greyscale(90));
$springer-header--padding-y: get-spacing(sm);
$springer-header--padding-x: 0;
$springer-header--border-color: greyscale(80);
$springer-header--brand-spacing: get-spacing(xl);
$springer-header--item-color: inherit;
