$hero--padding: spacing(32);
$hero--content-basis: 35rem;
$hero--image-min: 50%;
$hero--content-padding-inline: 3rem;
$hero--content-padding-block: 3rem;
// TODO: Move color to brand-context
$hero--background-color: color('corporate');
