.c-meta {
	@include u-list-reset();
	font-family: $meta--font-family;
	font-size: $meta--font-size;
	color: $meta--color;
	line-height: $meta--line-height;
}

.c-meta--large {
	font-size: $meta--font-size-large;

	.c-meta__item {
		margin-bottom: $meta--margin-bottom-large;
	}
}

.c-meta__item {
	display: inline-block;
	margin-bottom: $meta--margin-bottom;

	&:not(:last-child) {
		@include u-keyline('right', $meta--keyline-spacing);
	}
}

.c-meta__item--block-sm-max {
	@include media-query('sm', 'max') {
		display: block;

		&:not(:last-child) {
			border-right: none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.c-meta__item--block-at-lg {
	@include media-query('lg') {
		display: block;

		&:not(:last-child) {
			border-right: none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.c-meta__type {
	text-transform: $meta--text-transform;
	font-weight: $meta--font-weight;
}
