.c-meta {
	@include u-list-reset();
	@include font-size($meta--font-size);
	font-family: $meta--font-family;
	color: $meta--color;
	line-height: $meta--line-height;
}

.c-meta__item {
	display: inline-block;
	margin-bottom: $meta--margin-bottom;

	&:not(:last-child) {
		padding-right: $meta--padding-right;
		margin-right: $meta--margin-right;
		border-right: $meta--border;
	}
}

.c-meta__type {
	text-transform: $meta--text-transform;
	font-weight: $meta--font-weight;
}
