.c-meta {
	@include u-list-reset();
	font-family: $meta--font-family;
	font-size: $meta--font-size;
	color: $meta--color;
	line-height: $meta--line-height;
}

.c-meta--large {
	font-size: $meta--font-size-large;
}

.c-meta__item {
	display: inline-block;
	margin-bottom: $meta--margin-bottom;

	&:not(:last-child) {
		padding-right: $meta--padding-right;
		margin-right: $meta--margin-right;
		border-right: $meta--border;
	}
}

.c-meta__item--block-at-lg {
	@include media-query('lg') {
		display: block;

		&:not(:last-child) {
			padding-right: 0;
			border-right: none;
		}
	}
}

.c-meta__type {
	text-transform: $meta--text-transform;
	font-weight: $meta--font-weight;
}
