.c-corporate-footer {
	font-family: $corporate-footer--font-family;
	background-color: $corporate-footer--background-color;
	border-top: $corporate-footer--border;
	padding-top: $corporate-footer--padding-top;
	padding-bottom: $corporate-footer--padding-bottom;
}

.c-corporate-footer__legal {
	font-size: $corporate-footer--font-size;
	color: $corporate-footer--text-color;
	margin-bottom: $corporate-footer--margin-bottom;
	padding-top: $corporate-footer--legal-padding-top;
}

.c-corporate-footer__link {
	@include u-link-inherit;
}
