/**
 * Settings
 * Article component configuration
 */

$article--breakpoints: (
	'sml': 200px,
	'med': 400px,
	'lrg': 900px
);

/* Spacing defined by the 8-Point grid - https://spec.fm/specifics/8-pt-grid */
$article--vertical-spacing-large: 24px;
$article--vertical-spacing-medium: 16px;
$article--vertical-spacing-small: 8px;

$article--blockquote-spacing: 24px;

$article--link-color: blue;
$article--link-icon-color: blue;
$article--link-border-color: green;
$article--link-focus-color: yellow;
$article--section-title-background-color: red;
$article--box-color: green;
$article--important-color: orange;
$article--key-step-color: blue;
$article--citations-count-color-primary: blue;
$article--citations-count-color-secondary: white;
$article--subject-background-color: white;
$article--bibliographic-information-list-layout: (map-get($article--breakpoints, 'sml'), map-get($article--breakpoints, 'lrg'));
$article--page-background-color: white;

$article--cta-button-background-color: blue;
$article--cta-button-background-hover-color: blue;
$article--cta-button-color: white;
$article--cta-button-hover-color: white;
$article--cta-button-icon-color: white;
$article--cta-button-icon-hover-color: white;
$article--cta-button-border-color: blue;
$article--cta-button-border-radius: 0;

$article--font-sizes: (
	'font-size-1': 13px,
	'font-size-2': 14px,
	'font-size-3': 16px,
	'font-size-4': 17px,
	'font-size-5': 18px,
	'font-size-6': 24px,
	'font-size-7': 25px,
	'font-size-8': 28px,
	'font-size-9': 30px,
	'font-size-10': 40px,
	'font-size-11': 50px,
	'font-size-12': 60px
);

$article--grey-palette: (
	'grey-1': #000,
	'grey-2': #333,
	'grey-3': #666,
	'grey-4': #777,
	'grey-5': #888,
	'grey-6': #999,
	'grey-7': #aaa
);
