@import '../node_modules/@springernature/brand-context/nature/scss/core.scss';
@import '../node_modules/@springernature/brand-context/nature/scss/enhanced.scss';

@import '../scss/10-settings/nature';
@import '../scss/50-components/card';
