$publisher-footer--background-color: greyscale(95);
$publisher-footer--border: 1px solid greyscale(80);
$publisher-footer--columns-at-narrow: 2;
$publisher-footer--columns-at-wide: 5;
$publisher-footer--column-gap: spacing(24);
$publisher-footer--column-gap-large: spacing(32);
$publisher-footer--focus-border-size: 4px;
$publisher-footer--heading-color: greyscale(20);
$publisher-footer--heading-margin-bottom: 0.25em;
$publisher-footer--heading-weight: $context--font-weight-bold;
$publisher-footer--item-padding: 0.25em 0;
$publisher-footer--menu-section-padding-bottom: spacing(24);
$publisher-footer--padding: spacing(24);
$publisher-footer--padding-compact: spacing(16);
