.c-header {
	@include u-text-furniture;
}

.c-header {
	background-color: #fff;
	padding: $header--padding-y $header--padding-x;
	border-bottom: 4px solid color('corporate');
}

.c-header__container {
	@include u-container;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-header__brand {
	margin-right: $header--brand-spacing;

	a,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
	}
}

.c-header__qualifier {
	margin-left: spacing(24);

	@include media-query(sm, max) {
		display: none;
	}
}

.c-header__navigation {
	display: flex;
	align-items: center;
}

.c-header__menu {
	@include u-list-reset;
	display: flex;
}

.c-header__item {
	color: $header--item-color;
	margin-right: spacing(24);

	&:last-child {
		margin-right: 0;
	}
}

.c-header__link {
	@include interface-link;
	color: $header--item-color;

	&:visited {
		color: $header--item-color;
	}

	&:hover {
		color: $header--item-color;
	}
}

.c-header__link--search {
	display: block; // needed for ie10 otherwise the margin-right doesn't get applied correctly
	background: transparent;
	border: none;
	margin: 0 spacing(24) 0 0;
}

/**
 * Added with JavaScript via header-menu.js
 */
.c-header__menu-button {
	@include u-button-reset;
}
