.c-header {
	@include u-text-furniture;
}

.c-header {
	background-color: $header--background-color;
	padding: $header--padding-y $header--padding-x;
	border-bottom: 4px solid color('corporate');
}

.c-header__container,
.c-header__menu,
.c-header__nav-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@supports (gap: 2em) {
		gap: 2em;
	}
}

.c-header__menu,
.c-header__nav-menu {
	@include u-list-reset;
}

.c-header__item {
	color: $header--item-color;
	@supports not (gap: 2em) {
		margin-left: spacing(24);
	}
}

.c-header__nav .c-header__item {
	@supports not (gap: 2em) {
		margin-left: 0;
		margin-right: spacing(24);
	}
}

.c-header__container {
	@include u-container;
	justify-content: space-between;
}

.c-header__brand {
	@supports not (gap: 2em) {
		margin-right: $header--brand-spacing;
	}

	a {
		text-decoration: none;
	}
}

.c-header__link {
	@include u-link-interface;
	color: $header--item-color;

	&:visited {
		color: $header--item-color;
	}

	&:hover {
		color: $header--item-color;
	}
}

.c-header__link--nav {
	font-weight: bold;
}

.c-header__nav {
	border-top: 1px solid greyscale(80);
	margin-top: spacing(16);
	padding-top: spacing(16);
}

.c-header__nav-menu {
	@include u-container;
}
