.c-header {
	@include u-text-furniture;
}

.c-header {
	background: $springer-header--background;
	padding: $springer-header--padding-y $springer-header--padding-x;
	border-bottom: 1px solid $springer-header--border-color;
}

.c-header__container {
	@include container;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-header__brand {
	margin-right: $springer-header--brand-spacing;
}

.c-header__navigation {
	display: flex;
	align-items: center;
}

.c-header__menu {
	@include u-list-reset;
	display: flex;
}

.c-header__item {
	color: $springer-header--item-color;
	margin-right: spacing(24);

	&:last-child {
		margin-right: 0;
	}
}

.c-header__link {
	@include interface-link;
	color: $springer-header--item-color;

	&:visited {
		color: $springer-header--item-color;
	}

	&:hover {
		color: $springer-header--item-color;
	}
}

.c-header__link--search {
	display: block; // needed for ie10 otherwise the margin-right doesn't get applied correctly
	background: transparent;
	border: none;
	margin: 0 spacing(24) 0 0;
}

/**
 * Added with JavaScript via header-menu.js
 */
.c-header__menu-button {
	@include u-button-reset;
}
