/**
 * Default link style
 *
 */

@mixin base-link {
	color: $link-color;
	text-decoration: underline;
	text-decoration-skip-ink: auto;

	&.visited,
	&:visited {
		color: $link-visited-color;
	}

	&.hover,
	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}

	&.active,
	&:active {
		color: $link-active-color;
	}

	&.focus,
	&:focus {
		outline: spacing(4) solid $focus-color;
	}
}

/**
 * Interface links
 *
 */

@mixin interface-link {
	text-decoration: none;

	&.active,
	&:active,
	&.hover,
	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto;
	}
}

/**
 * Link Text
 */

@mixin link-text($font-size: 'medium') {
	font-size: map-get($link-text-font-sizes, $font-size);
	font-family: $font-family-sans;
	line-height: $link-text-line-height;
}
