@use 'sass:math';

.c-forms__label,
.c-forms__hint,
.c-forms__error,
.c-forms__legend {
	display: block;
}

.c-forms__hint,
.c-forms__error {
	font-weight: normal;
}

.c-forms__input-container {
	position: relative;
}

.c-forms__field small {
	font-size: inherit;
}

.c-forms__fieldset,
.c-forms__legend {
	padding: 0;
	border: 0;
	max-width: $global-form--measure;
}

.c-forms__field + .c-forms__field {
	margin-top: $global-form--field-spacing;
}

.c-forms__input {
	border: 1px solid;
	width: 100%;
	padding: $global-form--input-padding;
	box-sizing: border-box;
	background-color: $global-form--background-color;
}

* + .c-forms__input,
* + .c-forms__input-container {
	margin-top: $global-form--label-spacing;
}

.c-forms__input:focus {
	outline: 3px solid $global-form--color-focus;
}

.c-forms__input[invalid] {
	border-color: $global-form--color-error;
	border-width: 2px;
}

.c-forms__input[disabled] {
	cursor: not-allowed;
}

.c-forms__label {
	font-weight: bold;
}

.c-forms__hint {
	font-weight: normal;
	color: $global-form--hint-color;
	margin-top: #{$global-form--label-spacing / 2};
}

.c-forms__error {
	color: $global-form--color-error;
}

label + .c-forms__error {
	margin-top: #{$global-form--label-spacing / 2};
}

.c-forms__error + label {
	margin-top: #{$global-form--label-spacing / 2};
}

.c-forms__error .c-forms__icon {
	color: $global-form--color-warning;
}

.c-forms__icon svg {
	height: $global-form--radio-size;
	width: $global-form--radio-size;
	vertical-align: calc((#{$global-form--radio-size} / 8) * -1);
	overflow: visible;
	pointer-events: none;
}

.c-forms__input--select {
	cursor: pointer;
	appearance: none;
	padding-right: #{$global-form--input-padding-h * 3};
}

.c-forms__input-container--select .c-forms__icon {
	position: absolute;
	right: $tokens--sizing-400;
	top: 50%;
	transform: translateY(-50%);
}

.c-forms__input--radio,
.c-forms__input--checkbox {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.c-forms__label--inline {
	display: inline;
	font-weight: normal;
}

.c-forms__field.c-forms__label +
.c-forms__field.c-forms__label,
legend + .c-forms__field.c-forms__label {
	margin-top: #{$global-form--field-spacing / 2};
}

.c-forms__label--inline {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.c-forms__label--inline::before {
	content: '';
	width: 1em;
	height: 1em;
	border: 2px solid $global-form--hint-color;
	margin-right: $global-form--label-spacing;
}

:checked + .c-forms__label--inline::before {
	border-color: $global-form--color-checked;
}

:focus + .c-forms__label--inline::before {
	box-shadow: 0 0 0 3px $global-form--color-focus;
}

.c-forms__label--radio::before {
	border-radius: 1em;
}

.c-forms__label--checkbox::before {
	border-radius: 0.125em;
}

:checked + .c-forms__label--radio::before {
	background: radial-gradient(#{$global-form--color-checked} 0%, #{$global-form--color-checked} 40%, #fff 40%);
}

:checked + .c-forms__label--checkbox::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke-width="3" stroke="white" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 20 20"><path d="M4.5,11 10,15 16,5"></path></svg>');
	background-size: 100%;
	background-repeat: none;
	background-position: center;
}

:checked + .c-forms__label--checkbox::before {
	background-color: $global-form--color-checked;
}

[invalid] + .c-forms__label--checkbox::before {
	border-color: $global-form--color-error;
}

.c-forms__radio-fields {
	margin-top: $global-form--label-spacing;
	margin-left: calc((#{$global-form--radio-size} / 4) + #{$global-form--radio-border-width});
	border-left: calc(#{$global-form--radio-size} / 2) solid $global-form--indent-border-color;
	padding-top: $global-form--field-spacing;
	padding-left: $global-form--label-spacing;
	display: none;
}

:checked ~ .c-forms__radio-fields {
	display: block;
}






