@use 'sass:math';

.c-forms__label,
.c-forms__hint,
.c-forms__error,
.c-forms__legend
 {
	display: block;
}

.c-forms__fieldset,
.c-forms__legend {
	padding: 0;
	border: 0;
}

.c-forms__field + .c-forms__field {
	margin-top: $global-form--field-spacing;
}

.c-forms__input {
	border: 2px solid;
	width: 100%;
	padding: $global-form--input-padding;

}

.c-forms__input:focus {
	outline: 3px solid $global-form--color-focus;
}

.c-forms__input:invalid {
	border-color: $global-form--color-error;
}

.c-forms__label {
	font-weight: bold;
}

.c-forms__label + .c-forms__input {
	margin-top: $global-form--label-spacing;
}

.c-forms__hint {
	font-weight: normal;
	color: $global-form--hint-color;
	margin-top: $global-form--label-spacing;
}

.c-forms__error {
	margin: $global-form--label-spacing 0;
	color: $global-form--color-error;
}

.c-forms__icon {
	color: $global-form--color-warning;
}

.c-forms__icon svg {
	height: 1em;
	width: 1em;
	vertical-align: -0.125em;
	overflow: visible;
}

























/* Input row component */

/*
.c-input-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-right:  math.div(-$global-form--grid-gutter-width, 2);
	margin-left:  math.div(-$global-form--grid-gutter-width, 2);
}

.c-input-row__item {
	align-self: stretch;
	flex: 1 1 auto;
	padding-right:  math.div($global-form--grid-gutter-width, 2);
	padding-left:   math.div($global-form--grid-gutter-width, 2);
}*/

/* Input group component */

/*
.c-input-group {
	display: block;
	margin-bottom: 1rem;
}

.c-input-group__label {
	display: inline-block;
	line-height: 2;
	font-size: $global-form--label-font-size;
	margin-bottom: $global-form--label-spacing;

	&--check {
		padding-right: 0.5rem;
	}
}

.c-input-group__required {
	color: $global-form--color-required;
}

.c-input-group__control {
	@include form-input;

	&--check {
		width: auto;
		height: auto;
	}

	&--radio {
		width: auto;
		height: auto;
		margin: 0 0.5rem;
		display: inline-block;
	}

	&--textarea {
		height: auto;
		overflow: auto;
		resize: vertical;
	}

	// Unstyle the caret on `<select>`s in IE10+.

	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}
}

.c-input-group input[disabled],
.c-input-group textarea[disabled],
.c-input-group input[disabled]:hover,
.c-input-group textarea[disabled]:hover {
	background: $global-form--background-color-disabled;
	border-color: $global-form--border-color-disabled;
	color: $global-form--color-disabled;
	cursor: not-allowed;
}
*/
