/**
 * Article Metrics
 * Article metrics styles
 */

.c-article-metrics__section {
	width: 48.4%;
	margin-right: 3.2%;
	margin-bottom: $article--vertical-spacing-large;
	float: left;

	@include media-query(map-get($article--breakpoints, 'med'), 'max') {
		width: 100%;
		margin-right: 0;
		float: none;
	}

	&--right {
		margin-right: 0;
	}
}

.c-article-metrics__discs {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	> li {
		float: left;
		width: 31.2%;
		margin-right: 3.2%;
	}

	> li:last-child {
		margin-right: 0;
	}
}

.c-article-metrics__citations-link {
	text-decoration: none;
}

.c-article-metrics__citations-link:hover {
	text-decoration: none;

	& .c-article-metrics__citations-count {
		background-color: $article--citations-count-color-secondary;
		color: $article--citations-count-color-primary;
	}
}

.c-article-metrics__citations-count {
	font-family: $font-family-sans;
	font-weight: bold;
	background-color: $article--citations-count-color-primary;
	border: 1px solid $article--citations-count-color-primary;
	color: $article--citations-count-color-secondary;
	font-size: map-get($article--font-sizes, 'font-size-8');
	max-height: 150px;
	max-width: 150px;
	margin: 0 auto 10px;
	border-radius: 50%;
	position: relative;
	line-height: 1.2;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	> span {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: block;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		> span {
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			padding: 10%;
			width: 100%;
			box-sizing: border-box;
		}
	}

	&--1 {
		> span > span {
			font-size: map-get($article--font-sizes, 'font-size-12');
		}
	}

	&--2 {
		> span > span {
			font-size: map-get($article--font-sizes, 'font-size-11');
		}
	}

	&--3 {
		> span > span {
			font-size: map-get($article--font-sizes, 'font-size-10');
		}
	}

	&--4 {
		> span > span {
			font-size: map-get($article--font-sizes, 'font-size-9');
		}
	}

	&--5 {
		> span > span {
			font-size: map-get($article--font-sizes, 'font-size-7');
		}
	}

	&--no-data {
		background-color: map-get($article--grey-palette, 'grey-6');
		border: 1px solid map-get($article--grey-palette, 'grey-5');
		color: map-get($article--grey-palette, 'grey-4');
	}
}

.c-article-metrics__citations-source {
	font-family: $font-family-sans;
	font-weight: bold;
	line-height: 1.4;
	text-align: center;

	.c-article-metrics__citations-count--no-data + & {
		color: map-get($article--grey-palette, 'grey-4');
	}
}

.c-article-metrics__label {
	font-weight: bold;
	margin-bottom: $article--vertical-spacing-small;
}

.c-article-metrics__heading {
	line-height: 1.4;
	margin-bottom: $article--vertical-spacing-medium;
	clear: both;
}

.c-article-metrics__section-heading {
	line-height: 1.4;
	margin-bottom: $article--vertical-spacing-large;
	font-weight: bold;
	font-family: $font-family-serif;
}

.c-article-metrics__section-sub-heading {
	font-weight: bold;
}

.c-article-metrics__update {
	font-size: map-get($article--font-sizes, 'font-size-2');
	font-style: italic;
	font-family: $font-family-sans;
}

.c-article-metrics__altmetric-donut {
	margin-bottom: $article--vertical-spacing-medium;
	width: 31.2%;
	margin-right: 3.2%;
	float: left;

	a {
		display: block;
	}

	img {
		max-height: 150px;
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

.c-article-metrics__altmetric-summary {
	width: 65.6%;
	float: left;
	margin-bottom: $article--vertical-spacing-medium;
}

.c-article-metrics__altmetric-heading {
	font-size: map-get($article--font-sizes, 'font-size-2');
	font-family: $font-family-sans;
	font-weight: bold;
	margin-bottom: $article--vertical-spacing-small;
}

.c-article-metrics__altmetric-stats {
	list-style: none;
	padding: 0;
}

.c-article-metrics__altmetric-stats--sharing {
	margin-bottom: $article--vertical-spacing-medium;
}

.c-article-metrics__altmetric-key {
	border-left: 15px solid;
	padding-left: 10px;
	font-size: map-get($article--font-sizes, 'font-size-1');
	line-height: 1.231;
	margin-bottom: 1px;

	> span {
		font-weight: bold;
	}

	$altmetric-colors: (
		twitter: #2f90b9,
		blogs: #ffc200,
		facebook: #071d70,
		googleplus: #912470,
		news: #b60000,
		linkedin: #00bfff,
		reddit: #b9ddeb,
		f1000: #cb2d2d,
		pinterest: #c30,
		qna: #efefef,
		video: #98c973,
		wikipedia: #c7c7c7,
		reviews: #d45bb0,
		citeulike: #bcd2ef,
		mendeley: #a60000,
		connotea: #ff4040
	);

	@each $source, $color in $altmetric-colors {
		&--#{$source} {
			border-color: $color;
		}
	}
}

.c-article-metrics__altmetric-definitions {
	list-style: disc;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	font-size: map-get($article--font-sizes, 'font-size-2');
}

.c-article-metrics__altmetric-mentions-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: $font-family-serif;

	> li {
		margin-bottom: $article--vertical-spacing-medium;
		overflow: hidden;
	}

	> li:last-child {
		margin: 0;
	}

	a {
		display: block;
		line-height: 1.3;
	}

	span {
		display: block;
		font-family: $font-family-sans;
		font-size: map-get($article--font-sizes, 'font-size-1');
	}
}

.c-article-metrics__methodology {
	clear: both;
	font-family: $font-family-serif;
}

.c-article-metrics__demographics {
	position: relative;

	table {
		border: 3px solid map-get($article--grey-palette, 'grey-6');
	}

	td,
	th {
		text-align: right;
	}

	td {
		padding: 4px;
	}

	th {
		padding: 10px 4px;
	}

	td:first-child,
	th:first-child {
		text-align: left;
	}
}

.c-article-metrics__demographics-table-wrapper {
	overflow-x: auto;
	min-width: 100%;
}

.c-article-metrics__unknown-country {
	font-style: italic;
}
