.c-breadcrumbs {
	@include u-list-inline;
	font-size: $breadcrumbs-font-size;
	font-family: $breadcrumbs-font-family;
	color: $breadcrumbs-color;
}

.c-breadcrumbs__link {
	color: $breadcrumbs-link-color;

	&.visited,
	&:visited,
	&.hover,
	&:hover {
		color: $breadcrumbs-link-color;
	}
}

svg.c-breadcrumbs__chevron {
	margin: $breadcrumbs-chevron-spacing;
	fill: $breadcrumbs-chevron-color;
	width: 10px;
	height: 10px;
}

.c-breadcrumbs .c-breadcrumbs__item {
	@include media-query('sm', 'max') {
		display: none;
	}
}

.c-breadcrumbs .c-breadcrumbs__item:nth-last-child(1),
.c-breadcrumbs .c-breadcrumbs__item:nth-last-child(2) {
	@include media-query('sm', 'max') {
		display: inline;
	}
}