.js {
	.c-header__content {
		position: relative;
		display: flex;
		justify-content: space-between;

		@include media-query('tablet') {
			width: calc(100% - 64px);
			margin-left: 32px;
		}
	}

	.c-header__site-logo,
	.c-header__journal-logo {
		width: auto;
		height: auto;
		min-width: 130px;
		max-width: 209px;
	}

	.c-header__site-logo.with-journal-logo {
		@include media-query('tablet-wide-width') {
			border-right: 2px solid map-get($context--colors, 'mineshaft');
		}
	}

	.c-header__content-block {
		display: flex;
		flex-wrap: wrap;
	}

	.c-header__logo-link {
		display: flex;
		flex-basis: 60%;
		flex-wrap: wrap;

		@include media-query('tablet-vertical') {
			flex-basis: 70%;
		}
	}
}
