.c-status-message {
	display: flex;
	align-items: center;
	font-family: $status-message--font-family;
	font-size: $status-message--font-size;
	position: relative;
	width: 100%; // Caters for an ie bug with nested flex when child is a column
	box-sizing: border-box; // Compensates for the above RE padding

	*:last-child {
		margin-bottom: spacing(0);
	}
}

.c-status-message--boxed {
	background-color: $status-message--background-color;
	border-radius: $status-message--border-radius;
	border: $status-message--border;
	line-height: $status-message--line-height;
	padding: $status-message--gutter;
}

.c-status-message__heading {
	font-family: $status-message--font-family;
	font-size: $status-message--font-size;
	font-weight: $status-message--font-weight;
}

.c-status-message__icon {
	@include u-icon;
	flex: 0 0 auto;
	margin-right: $status-message--gutter-icon;
	height: $status-message--icon-size;
	width: $status-message--icon-size;
}

.c-status-message__icon--top {
	align-self: flex-start;
}

@each $color, $value in $status-message-theme {
	.c-status-message--#{$color} {
		.c-status-message__icon {
			color: $value;
		}
	}

	.c-status-message--boxed.c-status-message--#{$color} {
		border-bottom: $status-message--boxed-border solid $value;
	}
}
