$breadcrumbs-font-family: $font-family-sans;
$breadcrumbs-font-size: 16px;
$breadcrumbs-color: black;
$breadcrumbs-link-color: greyscale(40);
$breadcrumbs-bottom-spacing: spacing(16);
$breadcrumbs-chevron-spacing: spacing(4);
