$breadcrumbs-font-family: $context--font-family-sans;
$breadcrumbs-font-size: 16px;
$breadcrumbs-color: black;
$breadcrumbs-link-color: greyscale(40);
$breadcrumbs-chevron-spacing: spacing(4) spacing(4) 0;
