@mixin container() {
	margin: auto;
	max-width: $container--width;
	padding: $container--padding-y ($container--padding-x / 2);

	// sass-lint:disable mixins-before-declarations
	@include media-query('lg') {
		padding: $container--padding-y $container--padding-x;
	}
}
