@mixin heading-base {
	font-style: normal;
	margin-bottom: 1em;
	line-height: $line-height-tight;

	a {
		@include interface-link;
	}
}

@mixin h1 {
	@include heading-base;
	font-size: $font-size-h1;
	font-family: $font-family-serif;
	font-weight: $font-weight-normal;
}

@mixin h2 {
	@include heading-base;
	font-size: $font-size-h2;
	font-family: $font-family-serif;
	font-weight: $font-weight-normal;
}

@mixin h3 {
	@include heading-base;
	font-size: $font-size-h3;
	font-family: $font-family-serif;
	font-weight: $font-weight-normal;
}

@mixin h4 {
	@include heading-base;
	font-size: $font-size-h4;
	font-family: $font-family-sans;
	font-weight: $font-weight-bold;
}
