@mixin js-hidden {
	display: block;

	.js & {
		display: none !important;
	}
}

@mixin js-shown {
	display: none;

	.js & {
		display: block;
	}
}

@mixin hide-toggle {
	.js & {
		display: none;

		&.is-shown {
			display: block;
		}
	}
}

@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 0;
}

@mixin visually-hidden-focus {
	&:active,
	&:focus {
		position: static !important;
		width: auto;
		height: auto;
		overflow: visible;
		clip: auto;
		white-space: normal;
		clip-path: none;
		margin: 0;
	}
}
