@mixin triangle($direction, $size-y, $size-x, $color) {
	$size-x: $size-x * 0.5;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;

	@if $direction == top {
		border-width: 0 $size-x $size-y $size-x;
		border-color: transparent transparent $color transparent;
	}

	@if $direction == bottom {
		border-width: $size-x $size-y 0 $size-x;
		border-color: $color transparent transparent transparent;
	}

	@if $direction == left {
		border-width: $size-x $size-y $size-x 0;
		border-color: transparent $color transparent transparent;
	}

	@if $direction == right {
		border-width: $size-x 0 $size-x $size-y;
		border-color: transparent transparent transparent $color;
	}

	@if $direction == topright {
		border-width: 0 $size-y $size-x 0;
		border-color: transparent $color transparent transparent;
	}

	@if $direction == bottomright {
		border-width: 0 0 $size-y $size-x;
		border-color: transparent transparent $color transparent;
	}

	@if $direction == bottomleft {
		border-width: $size-y 0 0 $size-x;
		border-color: transparent transparent transparent $color;
	}

	@if $direction == topleft {
		border-width: $size-y $size-x 0 0;
		border-color: $color transparent transparent transparent;
	}
}
