@mixin u-text-font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin u-text-furniture {
	font-family: $context--font-family-sans;
	font-size: $font-size-furniture;
}

@mixin u-text-right {
	text-align: right;
}

@mixin u-text-weight($weight) {
	font-weight: $weight;
}

// Headings

@mixin heading-base {
	font-style: normal;
	margin-bottom: 1em;
	line-height: $context--line-height-tight;

	a {
		@include interface-link;
	}
}

@mixin u-h1 {
	@include heading-base;
	font-size: $context--font-size-h1;
	font-size: unquote('min(max(#{$context--font-size-h1-min}, 4vw), #{$context--font-size-h1})');
	font-family: $context--font-family-serif;
	font-weight: $context--font-weight-normal;
}

@mixin u-h2 {
	@include heading-base;
	font-size: $context--font-size-h2;
	font-size: unquote('min(max(#{$context--font-size-h2-min}, 3.5vw), #{$context--font-size-h2})');
	font-family: $context--font-family-serif;
	font-weight: $context--font-weight-normal;
}

@mixin u-h3 {
	@include heading-base;
	font-size: $context--font-size-h3;
	font-size: unquote('min(max(#{$context--font-size-h3-min}, 3vw), #{$context--font-size-h3})');
	font-family: $context--font-family-serif;
	font-weight: $context--font-weight-normal;
}

@mixin u-h4 {
	@include heading-base;
	font-size: $context--font-size-h4;
	font-size: unquote('min(max(#{$context--font-size-h4-min}, 2.5vw), #{$context--font-size-h4})');
	font-family: $context--font-family-sans;
	font-weight: $context--font-weight-bold;
}

