/**
 * Basic
 * Some default CSS styles
 */

a {
	color: color('blue');
}

h1 {
	font-size: 1.875rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.063rem;
}

h4 {
	font-size: .875rem;
}

cite {
	font-style: normal;
}

ins {
	text-decoration: none;
}

button {
	font-family: $context--font-family-sans;
	border-radius: 0;
}

/* accessible focus styles */

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
p:focus,
div:focus,
ul:focus,
ol:focus,
li:focus,
dl:focus,
dt:focus,
dd:focus,
span:focus,
i:focus,
b:focus,
em:focus,
strong:focus {
	outline: none;
}
