/**
 * Basic
 * Some default CSS styles
 */

body {
	font-size: 13px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: color('blue');
}

a:hover,
a:focus {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 30px;
	font-size: 3rem;
}

h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

h3 {
	font-size: 17px;
	font-size: 1.7rem;
}

h4 {
	font-size: 14px;
	font-size: 1.4rem;
}

cite {
	font-style: normal;
}

ins {
	text-decoration: none;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

button {
	font-family: $context--font-family-sans;
	border-radius: 0;
}

/* accessible focus styles */

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
p:focus,
div:focus,
ul:focus,
ol:focus,
li:focus,
dl:focus,
dt:focus,
dd:focus,
span:focus,
i:focus,
b:focus,
em:focus,
strong:focus {
	outline: none;
}
