/*
 * Layout
 * Universal layout styles
 */

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	min-height: 100%;
	font-family: $context--font-family-sans;
	line-height: 1.5;
	color: greyscale();
	background: greyscale(80);
}

figure {
	margin: 0;
}

abbr[title] {
	text-decoration: none;
}

[contenteditable],
[tabindex="0"] {
	@include u-focus-outline();
}
