/*
 * Layout
 * Universal layout styles
 */

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	min-height: 100%;
	font-family: $context--font-family-sans;
	line-height: 1.76;
	color: greyscale();
	background: greyscale(80);
}

figure {
	margin: 0;
}

body,
div,
dl,
dt,
dd,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	margin: 0;
	padding: 0;
}

abbr[title] {
	text-decoration: none;
}

[contenteditable],
[tabindex="0"] {
	@include u-focus-outline();
}
