/**
 * Links
 * Basic link styles
 */

a {
	text-decoration: none;
	vertical-align: baseline;
	color: color('blue');
}

a:hover {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
}

a:focus {
	outline: 3px solid color('lemon');
	-webkit-transform: translateZ(0); // reflow needed to ensure outline styles visible in Safari v13+
}

a:active {
	outline: 0;
}
