/**
 * @springernature/global-menu
 * Default skin settings
 *
 */

// Base Settings
$menu--font-size: 1.6rem;
$menu--font-family: $context--font-family-sans;
$menu--link-color: inherit;
$menu--link-color-hover: $menu--link-color;
$menu--spacing: 16px;
$menu--line-height: 1.3;

// Modifier Settings
$menu--small-font-size: 1.4rem;
$menu--keyline-border: 1px solid greyscale(80);
$menu--vertical-spacing: $menu--spacing;
$menu--padded-spacing: $menu--spacing;
$menu--padded-link-background-color-hover: greyscale(80);
