.c-author-list {
	@include u-list-comma-separated;
	font-size: $global-author-list--font-size;
	font-family: $global-author-list--font-family;
	color: $global-author-list--color;
	line-height: $global-author-list--line-height;
}

.c-author-list--compact {
	line-height: $global-author-list--compact-line-height;
	font-size: $global-author-list--compact-font-size;
}

.c-author-list--truncated {
	@include u-list-truncated;
}
