/**
 *  Button settings
 *  Default
 *
 */

// Function dependencies
@import '../20-functions/colors';
@import '../20-functions/spacing';

$context--button-border-width-style: 1px solid;
$context--button-line-height: 1.3;
$context--button-font-family: sans-serif;
$context--button-font-size-xsmall: 1.4rem;
$context--button-font-size-small: 1.4rem;
$context--button-font-size-normal: 1.6rem;
$context--button-font-size-large: 1.8rem;
$context--button-icon-margin: spacing(8);
$context--button-padding: spacing(8);
$context--button-padding-xsmall: spacing(2);
$context--button-padding-small: inherit;
$context--button-padding-large: spacing(16);
$context--button-justify-content: center;
$context--button-transition: 0.25s ease, color 0.25s ease, border-color 0.25s ease;
$context--button-border-radius: 2px;
$context--button-letter-spacing: null;

// Button Themes
// Variables to set themes styles

$context--button-default: (
	'color': darkblue,
	'backgroundColor': greyscale(95),
	'backgroundImage': none,
	'border': $context--button-border-width-style greyscale(80),
	'boxShadow': inherit,
	'visitedColor': darkblue,
	'hoverColor': white,
	'hoverBorder': $context--button-border-width-style greyscale(40),
	'hoverBoxShadow': inherit,
	'hoverBackgroundColor': greyscale(40),
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorder': $context--button-border-width-style greyscale(40),
	'focusTextDecoration': none,
	'focusBoxShadow': inherit,
	'focusOutline': inherit,
	'fontWeight': normal,
);

$context--button-primary: (
	'color': white,
	'backgroundColor': darkblue,
	'backgroundImage': none,
	'border': $context--button-border-width-style blue,
	'visitedColor': white,
	'hoverColor': white,
	'hoverBorder': $context--button-border-width-style blue,
	'hoverBackgroundColor': blue,
	'hoverBackgroundImage': none,
	'focusBorder': $context--button-border-width-style blue,
	'fontWeight': normal,
);

$context--button-contrast: (
	'color': white,
	'backgroundColor': transparent,
	'backgroundImage': none,
	'border': $context--button-border-width-style white,
	'visitedColor': white,
	'hoverColor': greyscale(),
	'hoverBorder': $context--button-border-width-style white,
	'hoverBackgroundColor': white,
	'hoverBackgroundImage': none,
	'focusBorder': $context--button-border-width-style white,
	'fontWeight': normal,
);

$context--button-disabled: (
	'color': greyscale(),
	'backgroundColor': transparent,
	'backgroundImage': none,
	'border': $context--button-border-width-style greyscale(80),
	'visitedColor': greyscale(),
	'opacity': 0.7,
	'hoverColor': greyscale(),
	'hoverBorder': $context--button-border-width-style greyscale(80),
	'hoverBackgroundColor': transparent,
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorder': $context--button-border-width-style greyscale(80),
	'focusTextDecoration': none,
	'fontWeight': normal,
);
