@import "../20-functions/spacing";

$context--container-width: 1280px;
$context--container-padding: spacing(16);
$context--container-background-color: transparent;
$context--container-border-width-style: none;
$context--container-border-color: transparent;
$context--container-box-shadow: none;
