/**
 * Style
 * Cosmetic styling settings
 *
 */

@import '../20-functions/colors';

// Keyline
$context--keyline-border-color: greyscale(70);

// Shadow
$context--shadow-border-color: black;
$context--shadow-color: black;
$context--shadow-style: 5px 5px 5px;
