/**
 * Typography
 * Font settings
 */

$font-family-serif: serif;
$font-family-serif-save-data: $font-family-serif;
$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Define your base size in EMs
// http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
$context--font-size-base: 1.8em;

// Headings
$context--font-size-h1: 3rem;
$context--font-size-h2: 2.4rem;
$context--font-size-h3: 1.8rem;
$context--font-size-h4: 1.4rem;
