@mixin u-font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings

@mixin u-h1() {
	font-weight: lighter;
	font-size: $context--font-size-h1;
	margin-bottom: global-spacing(40);
	font-family: $font-family-serif;
  line-height: 1.2;
}

@mixin u-h2() {
	font-weight: lighter;
	font-size: $context--font-size-h2;
	margin-bottom:  global-spacing(40);
	font-family: $font-family-serif;
  line-height: $context--heading-line-height;
}

@mixin u-h3() {
	font-weight: bold;
	font-size: $context--font-size-h3;
	margin-bottom: global-spacing(30);
	font-family: $font-family-serif;
  line-height: $context--heading-line-height;
}

@mixin u-h4() {
	font-weight: normal;
	font-size: $context--font-size-h3;
	margin-bottom: global-spacing(30);
	font-family: $font-family-serif;
  line-height: $context--heading-line-height;
}

@mixin u-h5() {
	font-weight: bold;
	font-size: $context--font-size-base;
	margin-bottom: global-spacing(30);
	font-family: $font-family-serif;
  line-height: 1.2;
}

@mixin u-small() {
  font-size: $context--font-size-small;
}

@mixin u-meta-large() {
	font-weight: normal;
  font-family: $font-family-sans;
  font-size: $context--font-size-h3;
}

@mixin u-meta-medium() {
	font-weight: normal;
  font-family: $font-family-sans;
  font-size: $context--font-size-base;
}

@mixin u-meta-small() {
  @include u-small();
	font-weight: normal;
  font-family: $font-family-sans;
}
