@use 'sass:math';

$global-form--input-padding-h: $tokens--sizing-400;
$global-form--input-padding-v: $tokens--sizing-200;
$global-form--input-padding: $global-form--input-padding-v $global-form--input-padding-h;
$global-form--border-color: $tokens--border-color-input;
$global-form--background-color: #fff;
$global-form--indent-border-color: #dadada; // TODO: tokenize
$global-form--hint-color: #666; // TODO: tokenize
$global-form--font-size: $context--font-size-base;
$global-form--label-font-size: $context--font-size-base;
$global-form--label-spacing: $tokens--sizing-200;
$global-form--field-spacing: $tokens--sizing-600;
$global-form--color-focus: #028ace; // TODO: tokenize
$global-form--color-checked: $context--universal-blue;
$global-form--color-error: $tokens--state-error;
$global-form--measure: 90ch; // TODO: tokenize
$global-form--icon-size: $tokens--sizing-400;
$global-form--icon-size-large: $tokens--spacing-800;
$global-form--radio-size: $tokens--sizing-400;
$global-form--border-width-thin: 1px; // TODO: tokenize
$global-form--border-width-thick: 2px; // TODO: tokenize
$global-form--error-spacing: $tokens--spacing-100;

