@use 'sass:math';
















/**
 * @springernature/global-forms
 * Default skin settings
 * Replace these in your application
 *
 */
 /*
$global-form--padding: 12px;
$global-form--border-color: #999;
$global-form--border-radius: 3px;
$global-form--background-color: #fff;
$global-form--background-color-disabled: #f3f2ef;
$global-form--border-color-disabled:  #c7c4bf;
$global-form--font-size: 18px;
$global-form--label-font-size: math.div($global-form--font-size, 1.3);
$global-form--label-spacing: 10px;
$global-form--color: #000;
$global-form--color-required: #c64127;
$global-form--color-disabled: #aca9a3;
$global-form--grid-gutter-width: 10px;
*/
