@use 'sass:math';

$global-form--padding: $tokens--sizing-200 $tokens--sizing-400;
$global-form--border-color: $tokens--border-color-input;
$global-form--background-color: #fff;
$global-form--font-size: $context--font-size-base;
$global-form--label-font-size: $context--font-size-base;
$global-form--label-spacing: $tokens--sizing-200;
$global-form--color: $context--greyscale-base;
$global-form--color-focus: #028ace; // TODO: create token for this
$global-form--color-error: $tokens--state-error;
$global-form--color-warning: $tokens--state-warning;
