$listing--font-family: $context--font-family-sans;
$listing--title-font-family: $context--font-family-serif;
$listing--title-font-size: 1.8rem;
$listing--title-font-weight: normal;
$listing--title-margin-bottom: 4px;
$listing--title-line-height: 1.3;
$listing--text-column-flex: 1 0 70%;
$listing--text-font-size: 1.6rem;
$listing--text-margin-bottom: 8px;
$listing--text-color-light: greyscale(40);
$listing--author-font-size: 1.6rem;
$listing--author-font-weight: 400;
$listing--image-width: 200px;
$listing--image-margin-left: 16px;
$listing--image-border: 1px solid greyscale(80);
$listing--view-options-margin-right: 12px;
$listing--view-options-icon-margin-right: 4px;
