$springer-pagination--padding: spacing(16);
$springer-pagination--font-size: $font-size-xs;

$springer-pagination--link-active-color: white;
$springer-pagination--link-active-border-color: greyscale(40);
$springer-pagination--link-active-background-color: greyscale(40);

$springer-pagination--item-margin-right: spacing(16);
$springer-pagination--item-margin-bottom: spacing(8);
$springer-pagination--item-width: 30px;

$springer-pagination--icon-color: greyscale(60);
$springer-pagination--icon-clickable-color: color('action-base');
$springer-pagination--icon-width: 16px;
$springer-pagination--icon-height: 12px;
