/**
 * Card
 * Base component styles
 */

 .c-card {
	display: flex;
	background-color: $card--background;
	flex-direction: column;
	font-size: $card--font-size;
	min-width: 0;
	padding: $card--padding-x;
	position: relative;
	border: $card--border;
	box-shadow: $card--box-shadow;
}

.c-card--no-shape {
	border: none;
	box-shadow: none;
	background: none;
}

.c-card__image {
	flex: 0 1 auto;
	position: relative;
	display: flex;
	// Center image horizontally
	// (may cause overflow — not a problem)
	justify-content: center;
	overflow: hidden;
	// 16:9 aspect ratio fallback
	padding-bottom: 56.25%;
	@supports (aspect-ratio: 1 / 1) {
		padding-bottom: 0;
		// Customizable aspect ratio
		aspect-ratio: var(--card--image-aspect-ratio, #{$card--image-aspect-ratio});
	}

	// Not direct child due to picture element usage
	img {
		position: absolute;
		max-width: unset;
		// Maintain aspect ratio but overflow container
		// possibly in both dimensions
		min-width: 100%;
		min-height: 100%;
		transform: translateY(-50%);
		@supports (object-fit: cover) {
			width: 100%;
			height: 100%;
			transform: unset;
			// Maintain aspect ratio
			// but only overflow in on dimension
			object-fit: cover;
		}
	}
}

.c-card__body {
	padding: $card--padding;
	flex: 1 1 auto;
}

.c-card--no-shape .c-card__body {
	padding: 0;
	padding-top: $card--padding;
}

.c-card__title {
	@include u-heading($card--title-heading);
	@if $card--title-font-weight != null {
		font-weight: $card--title-font-weight;
	}
	margin-top: 0;
	margin-bottom: $card--spacing;
	letter-spacing: $card--title-letter-spacing;
}

.c-card__summary {
	line-height: 1.4;

	> p {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		// WCAG 1.4.1 Use of Color
		text-decoration: underline;
	}
}

.c-card__link:not(.c-card__link--no-block-link) {
	@include u-link-faux-block();
}

// modifiers
// ---------

// --major
.c-card--major {
	font-size: $card--major-font-size;

	.c-card__title {
		@include u-heading($card--major-title-heading);
	}
}

// --dark
.c-card--dark {
	background-color: $card--dark-background;
	color: $card--dark-color;
	border-width: 0;

	.c-card__title {
		color: $card--dark-title-color;
	}

	.c-card__link {
		color: inherit;
	}

	.c-card__summary {
		a {
			color: inherit;
		}
	}
}
