/**
 *	Settings
 *	Nature specific article component configuration (overrides configuration from global-article/10-settings)
*/
 
$article--breakpoints: (
	'sml': map-key-get($breakpoints, 'lap'),
	'med': map-key-get($breakpoints, 'portable'),
	'lrg': map-key-get($breakpoints, 'desk')
);

$article--link-color: color('blue');
$article--link-icon-color: str-slice(ie-hex-str(color('blue')), 4);
$article--link-border-color: color('steel');
$article--link-focus-color: color('lemon');
$article--section-title-background-color: greyscale(80);
$article--box-color: color('soft-steel');
$article--important-color: color('orange');
$article--key-step-color: color('blue');
$article--citations-count-color-primary: color('blue');
$article--subject-background-color: color('soft-steel');

$article--cta-button-background-color: color('blue');
$article--cta-button-background-hover-color: white;
$article--cta-button-hover-color: color('blue');
$article--cta-button-icon-color: str-slice(ie-hex-str(white), 4);
$article--cta-button-icon-hover-color: str-slice(ie-hex-str(color('blue')), 4);
$article--cta-button-border-color: color('blue');
$article--cta-button-border-radius: 2px;

$article--font-sizes: (
	'font-size-1': 1.3rem,
	'font-size-2': 1.4rem,
	'font-size-3': 1.6rem,
	'font-size-4': 1.7rem,
	'font-size-5': 1.8rem,
	'font-size-6': 2.4rem,
	'font-size-7': 2.5rem,
	'font-size-8': 2.8rem,
	'font-size-9': 3rem,
	'font-size-10': 4rem,
	'font-size-11': 5rem,
	'font-size-12': 6rem
);

$article--grey-palette: (
	'grey-1': greyscale(0),
	'grey-2': greyscale(20),
	'grey-3': greyscale(25),
	'grey-4': greyscale(30),
	'grey-5': greyscale(45),
	'grey-6': greyscale(70),
	'grey-7': greyscale(80)
);

$article-metrics-section-heading-font-weight: 500;
