/**
 * Basic
 * Styles for all pages, included on pages that
 * both do and dont cut the mustard, keep to a minimum
 */

// 10-settings
@import '10-settings/colors';
@import '10-settings/typography';

// 20-functions
@import '../../default/scss/20-functions/colors';

// 30-mixins
@import '../../default/scss/30-mixins/typography';

// 40-base
@import '../../default/scss/40-base/normalize';
@import '40-base/basic';