/**
 * Enhanced
 * Bootstrap the rest of the styles on cut the mustard
 */

// Default setting, functions, mixins
@import '~@springernature/brand-context/default/scss/abstracts';
// @import '../../default/scss/abstracts';

// Springernature settings, functions, mixins
@import 'abstracts';

// 40-base
@import '40-base/typography';
@import '40-base/layout';
@import '40-base/links';
@import '40-base/tables';
