/**
 * @springernature/global-corporate-footer
 * Default skin settings
 *
 */

$corporate-footer--vertical-rhythm: spacing(32);

$corporate-footer--margin-bottom: spacing(0);
$corporate-footer--border: 2px solid #dadada;
$corporate-footer--padding-top: $corporate-footer--vertical-rhythm;
$corporate-footer--padding-bottom: $corporate-footer--vertical-rhythm;
$corporate-footer--font-family: $context--font-family-sans;
$corporate-footer--background-color: #01324b;
$corporate-footer--font-size: 1rem;
$corporate-footer--text-color: white;

$corporate-footer--links-margin-bottom: $corporate-footer--vertical-rhythm;

$corporate-footer--legal-margin-top: spacing(4);

$corporate-footer--item-margin-right: spacing(24);
$corporate-footer--item-line-height: 2;
