$corporate-footer-font-family: $font-family-sans;
$corporate-footer--background-color: #222;
$corporate-footer--border: none;
$corporate-footer--legal-padding-top: spacing(4);
$corporate-footer--font-size: 1.3rem;
$corporate-footer--text-color: #a2a2a2;
$corporate-footer--padding-top: spacing(16);
$corporate-footer--padding-bottom: spacing(24);
