/**
 * @springernature/global-corporate-footer
 * Nature skin settings
 */

// Default setting
@import 'default';

$corporate-footer--background-color: #222;
$corporate-footer--border: none;
$corporate-footer--font-size: .5rem;
$corporate-footer--text-color: #a2a2a2;
