$corporate-footer-font-family: $font-family-sans;
$corporate-footer--background-color: greyscale(95);
$corporate-footer--border: 1px solid greyscale(80);
$corporate-footer--legal-padding-top: spacing(4);
$corporate-footer--font-size: 1.6rem;
$corporate-footer--text-color: greyscale(40);
$corporate-footer--padding-top: spacing(16);
$corporate-footer--padding-bottom: spacing(24);
