@use '../../../../../../context/brand-context/springer/scss/20-functions/colors' as *;
@forward 'default';

/**
 * @springernature/global-corporate-footer
 * Springer skin settings
 */

$corporate-footer--background-color: greyscale(95);
$corporate-footer--border: 1px solid greyscale(80);
$corporate-footer--font-size: 1rem;
$corporate-footer--text-color: greyscale(40);
