/**
 * @springernature/global-corporate-footer
 * Springer skin settings
 */

// Default button setting
@import 'default';

$corporate-footer--background-color: greyscale(95);
$corporate-footer--border: 1px solid greyscale(80);
$corporate-footer--font-size: 1.6rem;
$corporate-footer--text-color: greyscale(40);
