.c-product {
	display: flex;
	gap: $global-product-spacing;
	flex-wrap: wrap;
}

.c-product__image {
	flex-grow: 1;
	/* minimum width of the product image */
	flex-basis: 150px;
}

.c-product__image img {
	max-height: 200px;
}

.c-product__body {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 66.66%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: $global-product-actions-spacing;
}

.c-product__copy {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 50%;
}

.c-products__list,
.c-product__actions {
	padding: 0;
	list-style: none;
}

.c-product__actions {
	padding: 0;
	list-style: none;
	flex-basis: 300px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	gap: $global-product-actions-spacing;
}

.c-product__actions-item:has(.u-button) {
	flex-basis: clamp(0px, 320px, 100%);
}

.c-product__actions-item a {
	display: block;
}

.c-product__actions-item .u-button {
	text-align: center;
}

.c-product__description {
	margin-block-start: $global-product-description-spacing;
}

.c-product__subtitle {
	display: block;
	font-style: italic;
	font-size: inherit;
	margin-block-start: 0;
}

/* types */

.c-product--series img {
	box-shadow: 0 0 0.75em #aaa, -0.5rem -0.5rem 0 #eee, -0.5em -0.5em 0.75em #aaa, -1rem -1rem 0 #eee;
}

/* Product lists and grids */

.c-products__list-item + .c-products__list-item {
	margin-block-start: $global-product-spacing;
	padding-block-start: $global-product-spacing;
	border-block-start: 1px solid $global-product-list-border-color;
}

.c-products__list--grid {
	display: grid;
	gap: calc(#{$global-product-spacing} * 2);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.c-products__list--grid .c-product__description {
	display: none;
}

.c-products__list--grid .c-products__list-item + .c-products__list-item {
	margin-block-start: 0;
	padding-block-start: 0;
	border-block-start: 0;
}

.c-products__list--grid .c-product {
	flex-direction: column;
	gap: $global-product-description-spacing;
	height: 100%;
}

.c-products__list--grid .c-product__image {
	background-color: $global-product-grid-background-color;
	display: flex;
	justify-content: center;
	padding: $global-product-actions-spacing;
}

.c-products__list--grid .c-product__image img {
	max-height: 150px;
}

.c-products__list--grid .c-product__actions {
	flex-direction: column;
	margin-block-start: auto;
	gap: $global-product-description-spacing;
}

.c-product__sr-text {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
