/**
 * Meta
 * Default branding for component
 */

$meta--font-size: .8rem;
$meta--font-size-large: 1rem;
$meta--font-family: inherit;
$meta--line-height: inherit;
$meta--keyline-spacing: 8px;
$meta--color: #222;
$meta--margin-bottom: 10px;
$meta--margin-bottom-large: 20px;
$meta--font-weight: 700;
$meta--text-transform: uppercase;
