/**
 * Meta
 * Default branding for component
 */

$meta--font-size: 14px;
$meta--font-family: inherit;
$meta--line-height: inherit;
$meta--padding-right: 0.5em;
$meta--margin-right: 0.5em;
$meta--border: 1px solid #eee;
$meta--color: #222;
$meta--margin-bottom: 10px;
$meta--font-weight: 700;
