/**
 * Meta
 * Nature branding for component
 */

// Default setting
@import 'default';

$meta--font-family: $context--font-family-sans;
$meta--font-size: $context--font-size-xs;
$meta--font-size-large: 1rem;
$meta--color: inherit;
$meta--keyline-spacing: spacing(4);
$meta--line-height: 1.4;
$meta--margin-bottom: spacing(4);
$meta--margin-bottom-large: spacing(8);
$meta--text-transform: none;
