/**
 * Meta
 * Nature branding for component
 */

// Default button setting
@import 'default';

$meta--font-family: $context--font-family-sans;
$meta--border: 1px solid #bbb;
$meta--color: inherit;
$meta--line-height: 1.4;
$meta--margin-bottom: spacing(4);
$meta--margin-right: spacing(0);
$meta--padding-right: spacing(4);
$meta--text-transform: none;
