/**
 * Meta
 * Springer branding for component
 */

// Default setting
@import 'default';

$meta--font-size: .875rem;
$meta--font-family: $context--font-family-sans;
$meta--color: greyscale(40);
$meta--keyline-spacing: spacing(8);
$meta--margin-bottom: spacing(4);
$meta--margin-bottom-large: spacing(8);
