/**
 * Meta
 * Springer branding for component
 */

// Default button setting
@import 'default';

$meta--font-size: 1.4rem;
$meta--font-family: $font-family-sans;
$meta--border: 1px solid greyscale(80);
$meta--color: greyscale(40);
$meta--margin-bottom: 4px;
