$meta--font-size: 1.4rem;
$meta--font-family: $font-family-sans;
$meta--line-height: inherit;
$meta--padding-right: 0.5em;
$meta--margin-right: 0.5em;
$meta--border: 1px solid greyscale(80);
$meta--color: greyscale(40);
$meta--margin-bottom: 4px;
$meta--font-weight: 700;
