$springer-meta--font-size: 1.4rem;
$springer-meta--font-family: $font-family-system-sans;
$springer-meta--line-height: inherit;
$springer-meta--padding-right: 0.5em;
$springer-meta--margin-right: 0.5em;
$springer-meta--border: 1px solid greyscale(80);
$springer-meta--color: greyscale(40);
$springer-meta--margin-bottom: 4px;
$springer-meta--font-weight: 700;
