/**
 * Settings
 * Local overrides for banner
 */

$banner--border: 0;
$banner--link-color: greyscale(25);
$banner--contrast-background-color: greyscale(5);
$banner--marketing-background-color: color('blue');
$banner--marketing-border: 0;
$banner--marketing-color: white;
