/**
 * Settings
 * Local overrides for banner
 */

$banner--border: 0;
$banner--background-color-inverted: greyscale(5);
$banner--background-color-marketing: color('blue');
$banner--border-marketing: 0;
$banner--color-marketing: white;
$banner--link-color: greyscale(25);
