.c-user-details {
	align-self: center;
	text-align: right;

	&__content {
		min-width: 250px;
		background: #fff;
		padding: 5px 0;
		right: 0;
	}

	&__open {
		text-decoration: none;
		vertical-align: baseline;
		background: none;
		border: 0;
		color: #004b83; // default button text color
	}
	&__first-name, 
	&__last-name {
		color: #004b83; // default text color
		font-weight: 300; // font-weight adjusted
	}
	&__last-name {
		padding-right: 10px;
		padding-left: 5px; //added padding left to first name
	}
	&__link {
		cursor: pointer;
	}

	&__links {
		list-style-type: none;
		margin: 0;
		padding: 5px 0 0 0;
		border-top: 1px solid $separator-color;
		color: #666;
	}

	&__email {
		margin-bottom: 10px;
		color: #222;
	}
	

	&__logout {
		&:hover {
			color: #fff;
			background-color: #183642; // background-color is not coming from enhanced on hover
		}

		display: block;
		font-size: $small-font-size;
		line-height: 1.76; // added Line-height
		letter-spacing: 0.14px; // added letter-spacing
	}
}