.c-user-details {
	align-self: center;
	text-align: right;

	&__content {
		min-width: 250px;
		background: #fff;
		padding: 5px 0;
		right: 0;
	}

	&__link {
		cursor: pointer;
	}

	&__links {
		list-style-type: none;
		margin: 0;
		padding: 5px 0 0 0;
		border-top: 1px solid #e7eff4;
		color: #666;
	}

	&__email {
		margin-bottom: 10px;
		color: #222;
	}

	&__last-name {
		padding-right: 10px;
	}

	&__logout {
		&:hover {
			color: #fff;
		}

		display: block;
		font-size: $small-font-size;
	}
}