.c-user-details {
	align-self: center;
	text-align: right;

	&__content {
		min-width: 250px;
		background: #fff;
		padding: 5px 0;
		right: 0;
	}

	&__open {
		@include u-focus-outline;
		text-decoration: none;
		vertical-align: baseline;
		background: none;
		border: 0;
	}

	&__link {
		cursor: pointer;
	}

	&__links {
		list-style-type: none;
		margin: 0;
		color: #666;
	}

	&__email {
		margin-bottom: 10px;
		color: #222;
	}

	&__logout {
		display: block;
		font-size: $small-font-size;
	}
}
