.c-user-details {
	.js & {
		height: 30px;

		&__open {
			@include arrow(color('blue'), down, 4px);

			margin-left: 10px;
			right: 0;
			color: color('blue');

			&.open {
				@include arrow(color('blue'), up, 4px);
			}
		}

		&__content {
			position: absolute;
			z-index: $zindex-level-highest;
			height: auto;
			padding: 5px 0;
			text-align: left;
			box-shadow: 1px 2px 1px 1px color('black', 0.3);
		}

		&__content-item {
			padding: 0 12px;
			font-size: 12px;
		}

		&__link {
			padding: 7px 12px;

			&:hover {
				background-color: color('gunmetal-blue');
				color: color('white');
			}
		}
	}
}
