/**
 * Button utilities
 * These are for styled branded buttons
 */

// Default button

.u-button {
	border: $context--button-border-width-style transparent;
	box-shadow: 0 0 0 1px $context--button-brand-color;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}

// Button themes

.u-button--secondary {
	@include button-secondary;

	&:hover {
		box-shadow: none;
		border: $context--button-border-width-style $context--button-brand-color;
	}
}
