/**
 * Tables
 * Default table styles
 */

table {
	width: 100%;
	margin-bottom: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.6rem;
	font-family: $font-family-sans;
}

th,
td {
	padding: 4px 7px;
	border-right: 1px solid greyscale(70);
	text-align: left;
	line-height: 1.15;
}

th {
	vertical-align: top;
}

td {
	vertical-align: middle;
}

th[valign='top'] {
	vertical-align: top;
}

th[valign='middle'] {
	vertical-align: middle;
}

thead tr {
	border-bottom: 1px solid greyscale(70);
}

tbody tr {
	border-top: 1px solid greyscale(70);
}

tbody tr:first-child {
	border-top: 0;
}

th {
	background: greyscale(80);
}

tfoot tr {
	border-top: 2px solid greyscale(70);
}

tfoot td {
	font-weight: bold;
}
