$submission-header--corresponding-author-icon: url('/images/icons/email.svg') no-repeat 1px -1px/15px;
$submission-header--corresponding-author-icon-invalid: url('/images/icons/email-invalid.svg') no-repeat 1px -1px/15px;
$submission-header--close-icon: url('/images/icons/close.svg') no-repeat 1px -1px/15px;