$submission-header--padding: 20px;
$submission-margin: 0 20px 0 0;

$popup-close-btn-background-size: 8px;
$popup-close-btn-width: 16px;
$popup-close-btn-height: 16px;
$submission-header-author-background-size: 30px;