$header--background-color: white;
$header--brand-border: 5px solid black;
$header--font-size: 1.6rem;
$header--margin-bottom: spacing(16);
$header--row-border-border-bottom: 1px solid greyscale(80);
$header--row-border-margin-bottom: spacing(8);
$header--logo-margin-right: spacing(16);
$header--logo-max-height: 32px; // height of nature SVG logo that this is based on
$header--layout-margin-left: spacing(16);
$header--site-navigation-border-border-left: 1px solid greyscale(80);
$header--site-navigation-margin-left: spacing(16);
$header--site-navigation-padding: spacing(16);
$header--site-navigation-last-padding: spacing(16) spacing(0) spacing(16) spacing(16);
$header--site-navigation-text-align: right;
$header--menu-line-height: 1.2;
$header--menu-margin-left: 0 - spacing(8);
$header--menu-margin-bottom: spacing(8);
$header--item-font-weight: bold;
$header--item-margin-right: spacing(16);
$header--item-border-left: 2px solid greyscale(80);
$header--item-padding-top: spacing(2);
$header--item-padding-left: spacing(16);
$header--item-padding-bottom: spacing(2);
$header--link-margin-left: spacing(4);
$header--link-transition-duration: 0.2s;
$header--link-padding: spacing(8);
$header--link-hover-color: color('blue');
$header--link-hover-background-color: greyscale(80);
$header--link-hover-border-radius: 2px;
