$pill--background-color: greyscale(60);
$pill--border-radius: 20px;
$pill--padding: 5px 10px;
$pill--font-weight: 700;
$pill--color: #fff;
$pill--margin-right: 4px;
$pill--margin-bottom: 10px;
$pill--secondary-color: greyscale(40);
$pill--secondary-background-color: greyscale(95);
