@use '../../../../../../context/brand-context/default/scss/10-settings/colors/default' as *;
@use '../../../../../../context/brand-context/default/scss/20-functions/spacing' as *;
@use '../../../../../../context/brand-context/nature/scss/20-functions/colors' as *;
@forward 'default';

/**
 * @springernature/global-pill
 * Nature skin settings
 */

$pill--background-color: color('light-blue');
$pill--color: color('action-base');
$pill--margin-right: spacing(4);
$pill--margin-bottom: spacing(8);
$pill--secondary-color: greyscale();
$pill--secondary-background-color: $context--foreground-light;
