/**
 * Spacing
 * Get a spacing value from a map
 */

@function spacing($keys...) {
	@if length($spacing) == 0 {
		@error '$spacing must be a list of values defined by your brand or product.';
	}

	@if length($keys) > 4 {
		@error 'spacing() accepts a maximum of 4 arguments.';
	}

	$spacing-value: ();

	@each $key in $keys {
		@if index($spacing, $key) {
			$i: index($spacing, $key);
			
			$spacing-value: append($spacing-value, nth($spacing, $i) * 1px); // Add current item in loop to $spacing-value list
		}
		
		@else {
			@error '#{$key} is not defined in $spacing. Permitted values are #{$spacing}.';
		}
	}

	@return $spacing-value;
}