/**
 * Global
 * Main brand settings
 */

$base-font-size: 10;
$primary-text-color: greyscale();
$secondary-text-color: greyscale(25);
$link-text-color: color('blue');
$brand-primary-color: color('nature-primary');
$body-background: white;
$base-bg: greyscale(80);