/**
 * Style
 * Cosmetic styling settings
 *
 */

// Keyline
$context--keyline-border-color: greyscale(70); // same as default but needed because generates different colour because greyscale max value different for nature

// Shadow
$context--shadow-border-color: #eee;
$context--shadow-color: rgba(0, 0, 0, 0.5);
$context--shadow-style: 5px 5px 10px;
