/**
 * Typography
 * Font settings
 */

$is-nature-branded: false !default;
$context--font-family-serif: if($is-nature-branded, (Harding, Palatino, serif), $context--font-family-serif);
$context--font-family-primary: if($is-nature-branded, $context--font-family-serif, $context--font-family-sans);
$context--font-family-secondary: $context--font-family-sans;

$context--font-size-xxs: .75rem;
$context--font-size-xs: .875rem;
$context--font-size-sm: 1rem;
$context--font-size-md: 1.125rem;
$context--font-size-lg: 1.5rem;
$context--font-size-xl: 1.75rem;
$context--font-size-xxl: 2rem;

$context--font-size-h1: 2rem;
$context--font-size-h2: 1.5rem;
$context--font-size-h3: 1.25rem;
$context--font-size-h4: 1.125rem;

$context--line-height-h1: 1.25;
$context--line-height-h2: 1.25;
$context--line-height-h3: 1.25;
$context--line-height-h4: 1.125;

// Fluid typography
$context--font-size-h1-min: $context--font-size-h2;
$context--font-size-h2-min: $context--font-size-h3;
$context--font-size-h3-min: $context--font-size-h4;
$context--font-size-h4-min: 1rem; // Body typography size

$context--line-height-h1-min: $context--line-height-h2;
$context--line-height-h2-min: $context--line-height-h3;
$context--line-height-h3-min: $context--line-height-h4;
$context--line-height-h4-min: $context--line-height-h4;

$context--letter-spacing-min: -0.011715625rem; // in Safari this is 0.18745000660419464px not 0.1875px
$context--letter-spacing: -0.0390625rem;

$context--font-weight-normal: 400;
$context--font-weight-bold: 700;
$context--font-weight-heading: $context--font-weight-bold;

$context--line-height-heading: $context--line-height-tight;
