/**
 * Typography
 * Font settings
 */

$is-flagship-journal: false !default;
$is-sans: false !default;
$primary-font: if($is-flagship-journal, Harding, Lora);
@if $is-sans == true {
	$font-family-serif: $font-family-sans;
} @else {
	$font-family-serif: $primary-font, Palatino, serif;
}
$font-family-serif-save-data: Palatino, serif;

$context--heading-font-weight: if($is-flagship-journal, bold, normal);
$context--heading-line-height: 1.3;

$context--font-size-h1: if($is-flagship-journal, 3.2rem, 3rem);
$context--font-size-h2: 2.4rem;
$context--font-size-h3: if($is-flagship-journal, 2rem, 1.7rem);
$context--font-size-h4: if($is-flagship-journal, 1.8rem, 1.4rem);
