/**
 * @springernature/global-skip-link
 * Default skin settings
 *
 */

$skip-link--padding-y: 8px;
$skip-link--font: $context--font-family-sans;
$skip-link--font-size: 1rem;
$skip-link--color: white;
$skip-link--hover-color: white;
$skip-link--background-color: #000;
$skip-link--z-index: auto;
