/**
 * @springernature/global-skip-link
 * Default skin settings
 *
 */

$skip-link--font-size: 1.4rem;
$skip-link--color: white;
$skip-link--hover-color: white;
$skip-link--background-color: #069;
$skip-link--z-index: 9999;
