/**
 * @springernature/global-skip-link
 * Springernature skin settings
 */

// Default setting
@import 'default';

$skip-link--padding-y: spacing(8);
$skip-link--font-size: 1.6rem;
$skip-link--color: color('white');
$skip-link--hover-color: color('white');
$skip-link--background-color: color('universal-blue');
