/**
 * @springernature/global-layout-with-sidebar
 * Springer skin settings
 */

// Default setting
@import 'default';

$with-sidebar--gap: 64px;
$with-sidebar--min: 53%;
$with-sidebar--basis: 454px;
