/**
 * Basic
 * Some default CSS styles
 */

body {
	font-family: $context--font-family-sans;
}

a {
	color: $context--link-color;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
