/**
 * Basic
 * Some default CSS styles
 */

body {
	line-height: 1.5;
	font-family: $context--font-family-sans;
}

a {
	text-decoration: none;
	color: $context--link-color;
}

a:hover,
a:focus {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
