/**
 * Forms
 * Default form styles
 */

input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
[contenteditable] {
	&:focus {
		outline: 3px solid color('yellow');
	}
}

input[type="file"]:focus-within {
	outline: 3px solid color('yellow');
}
