/**
 * Layout
 * Universal layout styles
 */

html {
	height: 100%;
	overflow-y: scroll;
	font-size: 62.5%;
}

body {
	min-height: 100%;
	font-family: $context--font-family-serif;
	font-size: $context--font-size-base;
	line-height: $context--line-height-base;
	color: $context--primary-text-color;
	background: $context--page-background-color;
	font-size: $context--font-size-base;
	letter-spacing: 0.01em;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

figure {
	margin: 0;
}

body,
div,
dl,
dt,
dd,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	margin: 0;
	padding: 0;
}

abbr[title] {
	text-decoration: none;
}
