/**
 * Layout
 * Universal layout styles
 */

html {
	height: 100%;
	overflow-y: scroll;
	font-size: $context--font-size-default;
}

body {
	min-height: 100%;
	font-size: $context--font-size-base;
	line-height: $context--line-height-base;
	color: $context--primary-text-color;
	background: $context--page-background-color;
	letter-spacing: 0.01em;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

abbr[title] {
	text-decoration: none;
}
