/**
 * Links
 * Basic link styles
 */

a {
	text-decoration: none;
	vertical-align: baseline;
	color: color('blue');
}

a:hover {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip: ink;
}

a:active,
a:hover {
	outline: 0;
}