$c-popup--padding: spacing(16, 32, 16, 24);
$c-popup--close-top: spacing(16);
$c-popup--close-right: spacing(16);
$c-popup--box-shadow: 0 0 5px 0 greyscale(50, 0.1);
$c-popup--border-color: color(#97bfd8, 0.3);
$c-popup--border-radius: spacing(2);
$c-popup--background-color: #fff;
$c-popup--zindex: 100;
