/**
 * @springernature/global-forms
 * form mixin
 *
 */
@mixin global-form-input (
	$padding: $global-form--padding,
	$border: $global-form--border-color,
	$background: $global-form--background-color,
	$color: $global-form--color,
	$font-size: $global-form--font-size,
	$border-radius: $global-form--border-radius
) {
	width: 100%;
	height: $font-size + ($padding * 2);
	border: 1px solid #{$border};
	padding: #{$padding};
	background-color: #{$background};
	border-radius:  #{$border-radius};
	color: #{$color};
	font-size: #{$font-size};
}
