@mixin u-list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin custom-list-number {
	float: left;
	width: 3em;
	padding-right: 0.5em;
	margin-left: -3.5em;
	text-align: right;
}

@mixin u-list-inline {
	@include u-list-reset();

	> li {
		display: inline;
	}
}

@mixin u-list-comma-separated {
	@include u-list-inline();

	> li:not(:first-child):not(:last-child)::before {
		content: ', ';
	}

	> li:not(:only-child):last-child::before {
		content: ' & ';
	}
}

@mixin u-list-truncated {
	> li:not(:only-child):last-child::before {
		content: ' ... ';
	}
}
