$breadcrumb-font-family: $font-family-sans;
$breadcrumb-font-size-sm: $font-size-sm;
$breadcrumb-color: black;
$breadcrumb-link-color: greyscale(80);
$breadcrumb-bottom-spacing: spacing(16);
$breadcrumb-chevron-spacing: spacing(4);