
/**
 * @springernature/global-underline-nav
 * Default skin settings
 *
 */

$c-underline-nav--border-bottom: 1px solid greyscale(80);

$c-underline-nav--nav-link-padding: spacing(8) spacing(16);

$c-underline-nav--nav-link-color: #003f8d;
