
/**
 * @springernature/global-underline-nav
 * Springer Nature skin settings
 *
 */

// Default setting
@import 'default';

$underline-nav--border-bottom: 1px solid color('grey-mid1');

$underline-nav--link-font-size: 1.125rem;
$underline-nav--link-color: color('medium-blue');
$underline-nav--current-link-color: color('grey-dark1');
$underline-nav--hover-link-color: color('medium-blue');
