.c-listing {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	font-family: $springer-listing--font-family;
}

.c-listing--row {
	flex-flow: row;
}

.c-listing__text-column {
	flex: $springer-listing--text-column-flex;
}

.c-listing__title {
	@include font-size($springer-listing--title-font-size);
	font-family: $springer-listing--title-font-family;
	font-weight: $springer-listing--title-font-weight;
	line-height: $springer-listing--title-line-height;
	margin-bottom: $springer-listing--title-margin-bottom;

	a {
		@include interface-link;
	}
}

.c-listing__authors {
	@include font-size($springer-listing--author-font-size);
	font-weight: $springer-listing--author-font-weight;

	&:last-child {
		margin-bottom: 0;
	}
}

.c-listing__text {
	@include font-size($springer-listing--text-font-size);
	margin-bottom: $springer-listing--text-margin-bottom;

	&:last-child {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.c-listing__text--light {
	color: $springer-listing--text-color-light;
}

.c-listing__image {
	margin-left: $springer-listing--image-margin-left;

	img {
		border: $springer-listing--image-border;
		width: $springer-listing--image-width;
	}
}

.c-listing__view-options {
	@include font-size($springer-listing--text-font-size);
	@include u-list-reset;

	> li {
		display: inline-block;
		margin-right: $springer-listing--view-options-margin-right;

		> a {
			display: flex;
			align-items: center;
		}
	}
}

.c-listing__view-options-icon {
	margin-right: $springer-listing--view-options-icon-margin-right;
	fill: currentColor;
}
