@use 'sass:math';
@use '../10-settings/colors/default' as *;

/**
 * Return a greyscale color based on $context--greyscale-base
 *
 * @param {Integer} $val - lightness value between $context--greyscale-min and $context--greyscale-max
 * @param {Float} $opacity - opacity value between 0.1 and 1, to one decimal place
 *
 */

@function greyscale($val: $context--greyscale-min, $opacity: 1) {
	$opacity: math.div(round($opacity * 10), 10);
	$lightness: if($val < $context--greyscale-min, $context--greyscale-min, $val);
	$lightness: if($lightness > $context--greyscale-max, $context--greyscale-max, $lightness);
	$rounded: round(math.div($lightness, $context--greyscale-stops)) * $context--greyscale-stops;
	$color: lighten($context--greyscale-base, $rounded);

	@return rgba($color, $opacity);
}

/**
 * Return a color from a color palette
 *
 * @param {String} $name - name of the color to insert
 * @param {Arglist} $keys - 0 to 2 paramaters defining map and opacity
 *
 */

@function color($name, $keys...) {
	$v1: if(length($keys) > 0, nth($keys, 1), null);
	$v2: if(length($keys) > 1, nth($keys, 2), null);
	$map: if(type-of($v1) == 'map', $v1, $context--colors);
	$opacity: if(type-of($v1) == 'number', $v1, $v2);
	$opacity: if($opacity, math.div(round($opacity * 10), 10), 1); // round to one decimal place

	@if length($keys) > 2 {
		@warn 'the `color` function expects a maximum of 2 optional arguments, #{length($keys)} found.';
		@return false;
	}

	@if map-has-key($map, $name) {
		$color: map-get($map, $name);
		@return rgba($color, $opacity);
	}

	@warn 'color `#{$name}` does not exist';
	@return black;
}
