/**
 * Add valid spacing units to margin and padding
 *
 * Examples:
 * padding: get-spacing(md, lg) would output padding: 16px 24px;
 * padding: get-spacing(0, 0, sm) would output padding: 0 0 12px;
 * margin: get-spacing(xs) would output margin: 8px;
 *
 * Any value not found in the $spacing map will return null
 *
 */

@function get-spacing($keys...) {
	$list: ();

	@for $i from 1 through length($keys) {
		$key: nth($keys, $i);

		@if map-has-key($global-spacing, $key) {
			@if length($keys) == 1 {
				$list: map-get($global-spacing, $key) * 1px;
			}
			@else {
				$list: append($list, map-get($global-spacing, $key) * 1px, space);
			}
		}
		@else {
			@error '#{$key} does not exist in the $global-spacing map.  Allowed values are #{$global-spacing}.';
			@return null;
		}
	}

	@return $list;
}
