/**
 * @springernature/global-banner
 * Default skin settings
 * Replace these in your application
 *
 */

$banner--padding-y: 12px;
$banner--padding-y-compact: 4px;
$banner--font: $font-family-sans;
$banner--font-size: 16px;
$banner--font-size-small: 14px;
$banner--link-color: gray;
$banner--background-color: white;
$banner--border: 1px solid lightgray;
$banner--background-color-inverted: black;
$banner--color-inverted: white;
$banner--background-color-marketing: ghostwhite;
$banner--border-marketing: 1px solid lightblue;
$banner--color-marketing: black;
