/**
 * @springernature/global-banner
 * Springer skin settings
 */

// Default setting
@import 'default';

$banner--padding-y: spacing(16);
$banner--padding-y-compact: spacing(4);
$banner--font-size: 1rem;
$banner--font-size-small: .875em;
$banner--link-color: color('action-base');
$banner--background-color: color('action-background-light');
$banner--border: 1px solid color('corporate-light');
$banner--marketing-background-color: color('action-base');
$banner--marketing-border: 0;
$banner--marketing-color: white;
