@charset "UTF-8";

// we must not add `node_modules/` to the SASS includePaths config,
//   so use relative paths here. Paths are be relative to this file.
@import '../node_modules/@springernature/brand-context/springernature/scss/core.scss';
@import '../node_modules/@springernature/brand-context/springernature/scss/enhanced.scss';

// components SCSS
@import '../scss/10-settings/forms';
@import '../scss/30-mixins/forms';
@import '../scss/40-base/forms';

@import '../scss/50-components/forms';
@import '../scss/50-components/errors';

@import '../node_modules/@springernature/brand-context/default/scss/60-utilities/icons';
@import '../node_modules/@springernature/brand-context/default/scss/60-utilities/buttons';
@import '../node_modules/@springernature/brand-context/default/scss/60-utilities/hiding';
