/**
 * @springernature/global-box
 * Default skin settings
 * Replace these in your application
 *
 */
$box--padding: 12px;
$box--border-color: #000;
$box--background-color: #fff;
$box--circle-diameter: 3em;