/**
 * @springernature/global-banner
 * A container with text and link
 *
 */

.c-banner {
	border-bottom: $banner--border;
	background-color: $banner--background-color;
	padding: $banner--padding-y $banner--padding-x;
	font-family: $banner--font;
	font-size: $banner--font-size;
	margin: 0 auto;
	position: relative;
}

.c-banner--compact {
	font-size: $banner--font-size-small;
	padding: $banner--compact-padding-y $banner--compact-padding-x;
}

.c-banner--contrast {
	background-color: $banner--contrast-background-color;
	color: $banner--contrast-color;

	.c-banner__link {
		color: $banner--contrast-color;

		&:hover,
		&:visited {
			color: $banner--contrast-color;
		}
	}
}

.c-banner--marketing {
	background-color: $banner--marketing-background-color;
	border-bottom: $banner--marketing-border;
	color: $banner--marketing-color;

	.c-banner__link {
		color: $banner--marketing-color;

		&:hover,
		&:visited {
			color: $banner--marketing-color;
		}
	}
}

.c-banner--flush {
	padding-left: 0;
	padding-right: 0;
}

.c-banner__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.c-banner__container--center {
	justify-content: center;
}

.c-banner__item {
	flex: 0 1 auto;
	margin: 0;
}

.c-banner__link {
	color: $banner--link-color;

	&:visited,
	&:hover {
		color: $banner--link-color;
	}
}

.c-banner__link--underline {
	text-decoration: underline;

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}
