$global-list-columned--column-gap: 24px;
$global-list-columned--margin-bottom: 0.25em;

$global-list-description--wrapper-margin-bottom: 24px;
$global-list-description--font-weight: $font-weight-bold;
$global-list-description--font-size: $font-size-sm;
$global-list-description--line-height: 1.4;
$global-list-description--margin-bottom: 0.25em;
$global-list-description--is-interface-link: true;

$global-list-group--border-color: #ccc;
$global-list-group--padding-xs: 4px 0;
$global-list-group--padding-sm: 8px 0;
$global-list-group--padding-md: 16px 0;
$global-list-group--padding-lg: 24px 0;
$global-list-group--line-height: 1.4;
$global-list-group--is-interface-link: false;
