/**
 * List
 * Springer Nature branding for component
 */

// Default list setting
@import 'default';

// Springer Nature overrides
$global-list-description--line-height: 1.5;
$global-list-description--wrapper-margin-bottom: spacing(16);
$global-list-description--margin-bottom: 0;
