/**
 * List
 * Springer branding for component
 */

// Default list setting
@import 'default';

// Springer overrides
$global-list-group--is-interface: true;
$global-list-group--border-color: greyscale(80);

$global-list-description--is-interface: true;
$global-list-description--margin-bottom: 0;

$global-list-columned--margin-bottom: 0.25em;
