.c-expander {
	padding: $expander--padding 0;
	border: 1px solid;
	border-width: 1px 0;
	/* In case it’s a list item */
	list-style: none;
}

/* for successive expanders, don't double the border */
.c-expander + .c-expander {
	border-top: 0;
}

.c-expander summary {
	/* remove marker in Firefox */
	list-style-type: none;
	cursor: pointer;
}

/* remove marker in other browsers */
.c-expander summary::marker,
.c-expander summary::-webkit-details-marker {
	display: none;
}

/* enhance focus styles */
@supports (text-decoration-color: #000) {
	.c-expander summary:focus {
		outline: none;
	}

	.c-expander summary:focus .c-expander__title {
		text-decoration: underline;
		text-decoration-color: color('action-focus');
		text-decoration-thickness: 3px;
	}
}

.c-expander__header {
	display: flex;
	align-items: center;
}

.c-expander__header .u-icon {
	flex-shrink: 0;
	width: 1em;
	height: 1em;
}

.c-expander [open] .u-icon {
	transform: rotate(90deg);
}

.c-expander__title {
	font-weight: bold;
	margin-left: $expander--icon-margin;
}

.c-expander__content {
	padding-top: $expander--padding;
}
