
/**
 *  @springernature/global-button
 *  Button settings
 *
 */

$context--button-border-radius: 32px;
$context--button-border-width-style: 4px solid;
$context--button-font-size-normal: 1.4rem;
$context--button-padding: 16px 32px;
$context--button-padding-small: 8px 16px;
$context--button-padding-large: 10px 35px;
$context--button-letter-spacing: 0.7px;
$context--button-font-family: $context--font-family-sans;
$context--button-transition: all 0.2s;
$context--button-brand-color: color('gunmetal-blue');

/**
 * Button Themes
 * Variables to set themes styles
 *
 */

$context--button-default: (
	'color': color('white'),
	'backgroundColor': $context--button-brand-color,
	'backgroundImage': none,
	'border': $context--button-border-width-style $context--button-brand-color,
	'visitedColor': color('white'),
	'hoverColor': $context--button-brand-color,
	'hoverBorder': $context--button-border-width-style color('white'),
	'hoverBackgroundColor': color('white'),
	'hoverBackgroundImage': none,
	'hoverTextDecoration': none,
	'focusBorder': $context--button-border-width-style $context--focus-color,
	'focusTextDecoration': none,
	'fontWeight': $context--font-weight-bold,
);

$context--button-primary: $context--button-default;

$context--button-secondary: (
	'color': $context--button-brand-color,
	'border': $context--button-border-width-style color('white'),
	'visitedColor': $context--button-brand-color,
	'backgroundColor': color('white'),
	'hoverColor': color('white'),
	'hoverBackgroundColor': $context--button-brand-color,
	'fontWeight': $context--font-weight-bold,
);
