$context--container-background-color: color('white');
$context--container-border-color: color('grey-mid1');
$context--container-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

$context--container-width: 1080px;
$context--container-padding: spacing(32);
