$context--container-background-color: color('white');
$context--container-border-color: color('grey-mid1');
$context--container-border-width-style: 1px solid;
$context--container-box-shadow: 0 0 4px color('black', 0.2);

$context--container-width: 1080px;
