$context--link-color: map-get($context--colors, medium-blue);
$context--link-hover-color: map-get($context--colors, universal-blue);
$context--link-visited-color: map-get($context--colors, purple);
$context--link-active-color: map-get($context--colors, black);

$context--link-text-font-sizes: (
	'medium': $context--font-size-md,
	'large': $context--font-size-lg
);
$context--link-text-line-height: 2.4rem;
