$context--table-header-border-bottom: 3px solid color('gunmetal-blue');
$context--table-row-border-bottom: 2px solid $context--border-color;
$context--table-border: none;
$context--table-font-size: $context--font-size-md;
$context--table-line-height: $context--line-height-base;
$context--table-margin-bottom: spacing(32);
$context--table-cell-padding: spacing(8);
