/**
 * Typography
 * Font settings
 */

$context--font-family-serif: 'Merriweather', serif;
$context--font-family-sans: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$context--primary-text-color: color('black');
$context--secondary-text-color: color('grey-dark2');

$context--font-size-sm: .875rem;
$context--font-size-md: 1rem;
$context--font-size-lg: 1.125rem;
$context--font-size-xl: 1.25rem;
$context--font-size-xxl: 1.5rem;
$context--font-size-xxxl: 2.188rem;

$context--font-size-h1: $context--font-size-xxxl;
$context--font-size-h2: $context--font-size-xxl;
$context--font-size-h3: $context--font-size-xl;
$context--font-size-h4: $context--font-size-lg;
$context--font-size-h5: $context--font-size-md;
// Define your base size in EMs
// http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
$context--font-size-base: 1em;

$context--line-height-h1: 1.2;
$context--line-height-h2: 1.5;
$context--line-height-h3: 1.4;
$context--line-height-h4: 1.333;
$context--line-height-h5: 1.375;

// Fluid typography
$context--font-size-h1-min: $context--font-size-h2;
$context--font-size-h2-min: $context--font-size-h3;
$context--font-size-h3-min: $context--font-size-h4;
$context--font-size-h4-min: $context--font-size-h4;
$context--font-size-h5-min: $context--font-size-h5;
$context--line-height-h1-min: $context--line-height-h2;
$context--line-height-h2-min: $context--line-height-h3;
$context--line-height-h3-min: $context--line-height-h4;
$context--line-height-h4-min: $context--line-height-h4;
$context--line-height-h5-min: $context--line-height-h5;

$context--font-weight-light: 300;
$context--font-weight-normal: 400;
$context--font-weight-bold: 700;

$context--line-height-base: 1.625; // For body text
$context--line-height-md: 1.5;
$context--line-height-tight: 1.4;
