/**
 * Typography
 * Font settings
 */

$context--font-family-serif: 'Merriweather', serif;
$context--font-family-sans: 'Daytona', 'Helvetica Neue', Helvetica, Arial, sans-serif;


/**
* Typography
* Heading settings
*/

$context--heading-line-height: 1.3;
$context--base-html-font: 10px;
$context--font-size-small: 1.2rem;
$context--font-size-base: 1.6em;
$context--font-size-h1: 4.5rem;
$context--font-size-h2: 3.5rem;
$context--font-size-h3: 1.8rem;
$context--font-size-h5: 1.8rem;
