.c-customer-satisfaction-input {
	padding: $global-customer-satisfaction-input-container-padding;
	background-color: $global-customer-satisfaction-input-container-background-color;
	overflow: hidden;
	font-family: $global-customer-satisfaction-input-font-family;
	line-height: 1.4;
}

.c-customer-satisfaction-input__container {
	display: flex;
	justify-content: center;
}

// !important used to ensure overrides heading styles on all of our imprint sites
.c-customer-satisfaction-input__heading {
	margin: 0 0 $global-customer-satisfaction-input-heading-margin !important;
	font-family: inherit !important;
	font-size: $global-customer-satisfaction-input-heading-font-size !important;
	line-height: $global-customer-satisfaction-input-line-height !important;
	font-weight: $global-customer-satisfaction-input-heading-font-weight !important;
}

.c-customer-satisfaction-input__submit-message div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.c-customer-satisfaction-input__submit-message p {
	margin: 0;
	line-height: $global-customer-satisfaction-input-line-height;
	font-family: inherit;
	font-size: $global-customer-satisfaction-input-message-font-size;
}

.c-customer-satisfaction-input__button {
	// TODO: Remove this mixin and replace with Brand Context button styles once work to improve them has been carried out
	@include global-customer-satisfaction-input-button;
}

.c-customer-satisfaction-input a {
	display: inline-block;
	margin-top: $global-customer-satisfaction-input-link-margin;
	font-family: inherit;
	font-size: $global-customer-satisfaction-input-message-font-size;
}

// hide things visually, for assistive technologies

.c-customer-satisfaction-input__visually-hidden {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// field

.c-customer-satisfaction-input__field {
	font-size: 1rem;
}

.c-customer-satisfaction-input__field small {
	font-size: inherit;
}

// fieldset

.c-customer-satisfaction-input__fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

// input

.c-customer-satisfaction-input__input {
	box-sizing: border-box;
	border: 1px solid;
	color: #000000;
	width: 100%;
	padding: 0.5rem 0.5rem;
	background-color: #fff;
	font-weight: 400;
}

.c-customer-satisfaction-input__input:focus {
	outline: 3px solid #0088cc;
}

// pictographic radios

.c-customer-satisfaction-input__pictographic-radios {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: $global-customer-satisfaction-input-radio-spacing-narrow;
	flex-wrap: wrap;
}

@include media-query('sm') {
	.c-customer-satisfaction-input__pictographic-radios {
		flex-direction: row;
		gap: $global-customer-satisfaction-input-radio-spacing-desktop;
	}
}

// label
.c-customer-satisfaction-input__label {
	font-family: inherit;
	font-size: $global-customer-satisfaction-input-radio-label-font-size-narrow;
	font-weight: 700;
	color: #000000;
	padding: 0;
}

.c-customer-satisfaction-input__label--pictographic-radio {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-weight: 400;
	cursor: pointer;
}

.c-customer-satisfaction-input__label + .c-customer-satisfaction-input__label {
	margin-top: 0;
}

@media only screen and (min-width: 320px) {
	.c-customer-satisfaction-input__label {
		font-size: $global-customer-satisfaction-input-radio-label-font-size-desktop;
	}

	.c-customer-satisfaction-input__label--pictographic-radio {
		flex-direction: column;
		justify-content: space-between;
	}

	.c-customer-satisfaction-input__pictographic-radios .c-customer-satisfaction-input__label + .c-customer-satisfaction-input__label {
		margin-top: 0;
	}
}

// svg

.c-customer-satisfaction-input__submit-message svg {
	width: $global-customer-satisfaction-input-message-icon-size;
	height: $global-customer-satisfaction-input-message-icon-size;
	margin-right: $global-customer-satisfaction-input-message-icon-margin;
}

.c-customer-satisfaction-input__icon svg {
	height: 1rem;
	width: 1rem;
	vertical-align: calc((0.5rem / 8) * -1);
	overflow: visible;
	pointer-events: none;
}

.c-customer-satisfaction-input__label--pictographic-radio svg {
	box-sizing: content-box;
	flex: 0 0 auto;
	width: var(--forms--pictographic-radio-icon-size, 4rem);
	height: var(--forms--pictographic-radio-icon-size, 4rem);
	fill: #fff;
	stroke: #01324b;
	background-color: #fff;
}

:checked + .c-customer-satisfaction-input__label--pictographic-radio svg {
	fill: #01324b;
	background-color: #01324b;
	stroke: #fff;
}

.c-customer-satisfaction-input__label--boxed-icon svg {
	padding: 0.5rem;
	border: 2px solid #999;
}

:checked + .c-customer-satisfaction-input__label--boxed-icon svg {
	border-color: #fff;
}

:focus + .c-customer-satisfaction-input__label--pictographic-radio svg, .c-customer-satisfaction-input__label--pictographic-radio:hover svg {
	box-shadow: 0 0 0 3px #0088cc;
}

.c-customer-satisfaction-input__label--pictographic-radio svg {
	width: $global-customer-satisfaction-input-radio-icon-size-narrow;
	height: $global-customer-satisfaction-input-radio-icon-size-narrow;
	padding: $global-customer-satisfaction-input-radio-icon-spacing-narrow;
	border-radius: $global-customer-satisfaction-input-radio-icon-border-radius;
}

@include media-query('sm') {
	.c-customer-satisfaction-input__label--pictographic-radio svg {
		width: $global-customer-satisfaction-input-radio-icon-size-desktop;
		height: $global-customer-satisfaction-input-radio-icon-size-desktop;
		padding: $global-customer-satisfaction-input-radio-icon-spacing-desktop;
	}
}

// error

.c-customer-satisfaction-input__error {
	display: none;
	color: #c40606;
	font-weight: normal;
	margin-bottom: $global-customer-satisfaction-input-error-margin;
}

.c-customer-satisfaction-input--show-error .c-customer-satisfaction-input__error {
	display: flex;
	align-items: flex-start;
}

.c-customer-satisfaction-input__error .c-customer-satisfaction-input__icon {
	color: #c40606;
}
