.c-facet-expander__list {
	@include u-list-reset();
}

.js {
	.c-facet-expander {
		background-color: black;
		box-sizing: border-box;
		padding: spacing(24);
		position: absolute;
		top: 100%;
		z-index: 1;
		left: 0;
		width: 100%;

		@include media-query('sm') {
			transform: translateY(8px);
		}

		@include media-query('md') {
			transform: translateY(16px);
			min-width: 290px;
			width: auto;
		}
	}

	.c-facet-expander__list {
		color: greyscale(35);
		font-size: 1.6rem;
		white-space: nowrap;

		@include media-query('md') {
			width: max-content;
		}
	}

	.c-facet-expander__list-item {
		margin-bottom: spacing(4);
	}

	.c-facet-expander__link {
		color: white;

		@include media-query('sm') {
			white-space: nowrap;
		}
	}

	.c-facet-expander__link--underline {
		@include u-link-underline;
	}
}
