$user-metadata--padding-y: spacing(24);
$user-metadata--font-size: $context--font-size-xxs;
$user-metadata--font-colour: greyscale(40);
$user-metadata--line-height: $context--line-height-tight;
$user-metadata--item-margin-y: spacing(4);
