$springer-user-metadata--padding: get-spacing(lg);
$springer-user-metadata--font-size: $font-size-xxs;
$springer-user-metadata--font-colour: greyscale(40);
$springer-user-metadata--line-height: $line-height-tight;
$springer-user-metadata--item-margin-top: get-spacing(xxs);
