/**
 * Basic
 * Styles for all pages, included on pages that
 * both do and dont cut the mustard, keep to a minimum
 */

@import '10-settings/colors';
@import '10-settings/typography';

@import '20-functions/colors';

@import '30-mixins/hiding';
@import '30-mixins/lists';
@import '30-mixins/typography';

@import '10-settings/global'; // temp, will be removed eventually

@import '40-base/normalize';
@import '40-base/basic';