/**
 * Enhanced
 * Bootstrap the rest of the styles on cut the mustard
 */

@import '10-settings/breakpoints';
@import '10-settings/colors/default';
@import '10-settings/colors/shared';
@import '10-settings/container;
@import '10-settings/keyframes';
@import '10-settings/spacing';
@import '10-settings/spacing-nature';
@import '10-settings/style';
@import '10-settings/typography'; // from global-context
@import '10-settings/typography-nature';

@import '20-functions/colors';
@import '20-functions/helpers';
@import '20-functions/spacing';

@import '10-settings/global'; // temp, will be removed eventually

@import '30-mixins/media-query';
@import '30-mixins/clearfix';
@import '30-mixins/container';
@import '30-mixins/hiding';
@import '30-mixins/icons';
@import '30-mixins/keyframes';
@import '30-mixins/links';
@import '30-mixins/lists';
@import '30-mixins/style';
@import '30-mixins/typography';

@import '40-base/forms';
@import '40-base/layout';
@import '40-base/links';
@import '40-base/lists';
@import '40-base/tables';
@import '40-base/typography'; // from global-context
@import '40-base/typography-nature';
