/**
 * Colour palette
 *
 */

$context--colors: (
	'accent': #ee7d11,
	'action-base': #004b83,
	'action-light': scale-color(#004b83, $lightness: 10%),
	'action-dull': #97bfd8,
	'action-background-base': #ebf6ff,
	'action-background-light': #f7fbfe,
	'action-focus': #fc0,
	'blue': #069,
	'dark-blue': #173962,
	'corporate': #00285a,
	'corporate-light': scale-color(#00285a, $lightness: 10%),
	'cta-top-color': #4d78af,
	'cta-bottom-color': #3365a0,
	'cta-hover-color': #0059c9,
	'error': #c40606,
	'warning': #fc0,
	'info': #004b83,
	'success': #71ab0b,
	'visited': #a345c9,
	'blueberry': #a6d8e7,
	'grape': #bee188,
	'lemon': #fece3e,
	'orange': $context--open-access-color,
	'steel': #bcd2dc,
	'soft-steel': #dae5ea,
	'strawberry': #f59094,
	'honeydew': #e7f6e6,
	'ivory': #f4f3e1,
	'plum': #bfaad9,
	'yellow': #ff9
);

/**
 * Color and gray scales
 *
 */

$context--page-background: #fcfcfc;
$context--greyscale-base: black;
$context--greyscale-min: 20;
$context--greyscale-max: 95;
$context--greyscale-stops: 5;

$context--foreground-dark: #333; // dark color used in foreground-color function
$context--foreground-light: #f2f2f2; // light color used in foreground-color function
