/**
 * Basic
 * Some default CSS styles
 */

body {
	font-size: .8rem;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #069;
}

a:hover,
a:focus {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 1.875rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.0625rem;
}

h4 {
	font-size: .875rem;
}

cite {
	font-style: normal;
}

ins {
	text-decoration: none;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	border-radius: 0;
}

/* accessible focus styles */

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
p:focus,
div:focus,
ul:focus,
ol:focus,
li:focus,
dl:focus,
dt:focus,
dd:focus,
span:focus,
i:focus,
b:focus,
em:focus,
strong:focus {
	outline: none;
}
