h1 {
	@include u-h1;
}

h2 {
	@include u-h2;
}

h3 {
	@include u-h3;
}

h4 {
	@include u-h4;
}

h5,
h6 {
	@include u-h5;
}

/* end spacing algorithm */

/* Basic lists should be aligned to the left */
ul:not([class]),
ol:not([class]) {
	/* Allow for bullet itself */
	padding-left: 0.9em;
}

dd {
	margin: 0;
}

cite {
	font-style: normal;
}
