h1 {
	@include u-h1;
}

h2 {
	@include u-h2;
}

h3 {
	@include u-h3;
}

h4 {
	@include u-h4;
}

h5,
h6 {
	@include u-h5;
}

/* Spacing algorithm: */

:is(p, ol, ul, dl, figure, blockquote, form, pre, table, img) + * {
	margin-block-start: spacing(16);
}

* + :is(h2, h3, h4, h5) {
	margin-block-start: spacing(32);
}

:is(h3, h4, h5) + * {
	margin-block-start: spacing(8);
}

h2 + * {
	margin-block-start: spacing(16);
}

h1 + * {
	margin-block-start: spacing(48);
}

/* Not applicable after hidden elements */
[hidden] + *,
[style*="display:none"] + *,
[style*="display: none"] + * {
	margin-block-start: 0;
}

/* end spacing algorithm */

/* Basic lists should be aligned to the left */
ul:not([class]),
ol:not([class]) {
	/* Allow for bullet itself */
	padding-left: 0.9em;
}

dd {
	margin: 0;
}

cite {
	font-style: normal;
}
