h1,
h2,
h3,
h4{
	line-height: 1.4;
	margin-top: 0;
}

h1 {
	@include u-h1;
}

h2 {
	@include u-h2;
}

h3 {
	@include u-h3;
}

h4,
h5,
h6 {
	@include u-h4;
}

p,
ol,
ul,
dl {
	margin-top: 0;
}

dd {
	margin: 0;
}

p {
	margin-bottom: 1.5em;
}

p:empty {
	display: none;
}

cite {
	font-style: normal;
}
