/**
 * Typographic
 * Standard text and heading formatting
 */

/*
 * Default spacing
 * default margin 28px to match line height
 * this is used for mainting vertical rhythm on the page
 */

p,
ul,
ol {
	margin-top: 0;
	margin-bottom: 28px;
}

/*
 * Headings
 * classes used to maintain the semantically appropriate heading levels
 * NOT for use on non-headings
 * if additional headings are needed they should be created via
 * additional classes, never via location dependant styling
 */

h5 {
	font-size: 1.2rem;
}

h1,
h2,
h3,
h5 {
	font-family: $font-family-serif;
	font-weight: normal;
}

p:empty {
	display: none;
}
