.c-hero {
	display: flex;
	flex-wrap: wrap;
	background-color: $hero--background-color;
	color: #fff;
}

.c-hero__image {
	position: relative;
	flex-basis: 0;
	flex-grow: 666;
	/* ↓ fallback for IE11 */
	min-width: $hero--image-min;
	min-width: var(--hero--image-min, #{$hero--image-min});
}

.c-hero__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.c-hero__content {
	flex-grow: 1;
	/* ↓ fallback for IE11 */
	flex-basis: $hero--content-basis;
	flex-basis: var(--hero--content-basis, #{$hero--content-basis});
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: $hero--padding;
}

.c-hero__content ul {
	padding-left: 1em;
}

.c-hero__content > * {
	margin: 0;
}

.c-hero__content > * + * {
	margin-top: spacing(16);
}
