.c-hero {
	display: flex;
	flex-wrap: wrap;
	background-color: $hero--background-color;
	color: #fff;
}

.c-hero__image {
	position: relative;
	flex-grow: 1;
	flex-basis: 30rem;
}

.c-hero__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.c-hero__content {
	flex-basis: 0;
	flex-grow: 666;
	min-width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: $hero--padding;
}

.c-hero__content ul {
	padding-left: 1em;
}

.c-hero__content > * {
	margin: 0;
}

.c-hero__content > * + * {
	margin-top: spacing(16);
}
