/**
 * Regular buttons
 *
 */

.c-button {
	@include button($button--default);
}

.c-button--small {
	font-size: $button--font-size-small;
	line-height: $button--line-height-small;
}

.c-button--large {
	font-size: $button--font-size-large;
	line-height: $button--line-height-large;
}

.c-button--primary {
	@include button-theme($button--primary);
}

.c-button--inline {
	display: inline-block;
	width: auto;
}

.c-button--disabled {
	@include button-disabled;
}
