// October 2022: Temporary mixin, to be removed once button styles in Elements have been refactored. Unable to use existing button styles in Elements because there is not one type of button that is satisfactory across all imprints for this component.

@mixin global-ratings-survey-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 32px;
	border: 4px solid white;
	box-shadow: 0 0 0 1px #01324b;
	color: #01324b;
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.3;
	margin: 16px 0 0 0;
	padding: 8px 16px;
	text-decoration: none;
	transition: all 0.2s;
	width: 100%;

	&:hover {
		color: white;
		background-color: #01324b;
		border: 4px solid #01324b;
		box-shadow: none;
	}

	&:focus {
		border: 4px solid #ffcc00;
		box-shadow: none;
		outline: none;
	}
}
