$status-message-theme: (
	"info": #003f8d,
	"error": #c40606,
	"success": #00b8b0,
	"warning": #edbc53
);

$status-message--font-family: $context--font-family-sans;
$status-message--font-size: $font-size-sm;
$status-message--border-radius: 2px;
$status-message--boxed-border: 4px;
$status-message--background-color: white;
$status-message--border: 1px solid greyscale(80);
$status-message--line-height: 1.3;
$status-message--gutter: spacing(16);
$status-message--gutter-icon: spacing(8);
$status-message--font-weight: $context--font-weight-bold;
