.u-monospace {
	font-family: monospace;
}

.u-sans-serif {
	font-family: $font-family-sans;
}

.u-serif {
	font-family: $font-family-serif;
}

.u-small-caps {
	@include u-small-caps;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-normal {
	font-weight: $font-weight-normal;
}

.u-text-bold {
	font-weight: $font-weight-bold;
}

.u-double-underline {
	@include u-double-underline;
}

.u-text-font-smoothing {
	@include u-text-font-smoothing;
}

.u-word-wrap {
	@include u-word-wrap;
}

.u-upper {
	text-transform: uppercase;
}

.u-lower {
	text-transform: lowercase;
}

.u-capitalize {
	text-transform: capitalize;
}

.u-underline {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
}

.u-unstyled {
	font-weight: normal;
	font-style: normal;
}

.u-h1 {
	font-size: $context--font-size-h1;
}

.u-h2 {
	font-size: $context--font-size-h2;
}

.u-h3 {
	font-size: $context--font-size-h3;
}

.u-h4 {
	font-size: $context--font-size-h4;
}
