.u-monospace {
	font-family: monospace;
}

.u-sans-serif {
	font-family: $context--font-family-sans;
}

.u-serif {
	font-family: $context--font-family-serif;
}

.u-small-caps {
	@include u-small-caps;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-normal {
	font-weight: $context--font-weight-normal;
}

.u-text-bold {
	font-weight: $context--font-weight-bold;
}

.u-double-underline {
	@include u-double-underline;
}

.u-text-font-smoothing {
	@include u-text-font-smoothing;
}

.u-word-wrap {
	@include u-word-wrap;
}

.u-upper {
	text-transform: uppercase;
}

.u-lower {
	text-transform: lowercase;
}

.u-capitalize {
	text-transform: capitalize;
}

.u-underline {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
}

.u-unstyled {
	font-weight: normal;
	font-style: normal;
}

.u-h1 {
	@include u-h1();
}

.u-h2 {
	@include u-h2();
}

.u-h3 {
	@include u-h3();
}

.u-h4 {
	@include u-h4();
}

* + :is(.u-h2, .u-h3, .u-h4) {
	margin-block-start: $tokens--typography-block-spacing-large;
}

:is(.u-h3, .u-h4) + * {
	margin-block-start: $tokens--typography-block-spacing-small;
}

.u-h2 + * {
	margin-block-start: $tokens--typography-block-spacing-medium;
}

.u-h1 + * {
	margin-block-start: $tokens--typography-block-spacing-x-large;
}
