.u-padding-0 {
  padding: 0;
}

.u-padding-left-0 {
  padding-left: 0;
}

.u-padding-right-0 {
  padding-right: 0;
}

.u-padding-top-0 {
  padding-top: 0;
}

.u-padding-bottom-0 {
  padding-bottom: 0;
}

.u-margin-0 {
  margin: 0;
}

.u-margin-left-0 {
  margin-left: 0;
}

.u-margin-right-0 {
  margin-right: 0;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-padding-100 {
  padding: .25rem;
}

.u-padding-left-100 {
  padding-left: .25rem;
}

.u-padding-right-100 {
  padding-right: .25rem;
}

.u-padding-top-100 {
  padding-top: .25rem;
}

.u-padding-bottom-100 {
  padding-bottom: .25rem;
}

.u-margin-100 {
  margin: .25rem;
}

.u-margin-left-100 {
  margin-left: .25rem;
}

.u-margin-right-100 {
  margin-right: .25rem;
}

.u-margin-top-100 {
  margin-top: .25rem;
}

.u-margin-bottom-100 {
  margin-bottom: .25rem;
}

.u-padding-200 {
  padding: .5rem;
}

.u-padding-left-200 {
  padding-left: .5rem;
}

.u-padding-right-200 {
  padding-right: .5rem;
}

.u-padding-top-200 {
  padding-top: .5rem;
}

.u-padding-bottom-200 {
  padding-bottom: .5rem;
}

.u-margin-200 {
  margin: .5rem;
}

.u-margin-left-200 {
  margin-left: .5rem;
}

.u-margin-right-200 {
  margin-right: .5rem;
}

.u-margin-top-200 {
  margin-top: .5rem;
}

.u-margin-bottom-200 {
  margin-bottom: .5rem;
}

.u-padding-400 {
  padding: 1rem;
}

.u-padding-left-400 {
  padding-left: 1rem;
}

.u-padding-right-400 {
  padding-right: 1rem;
}

.u-padding-top-400 {
  padding-top: 1rem;
}

.u-padding-bottom-400 {
  padding-bottom: 1rem;
}

.u-margin-400 {
  margin: 1rem;
}

.u-margin-left-400 {
  margin-left: 1rem;
}

.u-margin-right-400 {
  margin-right: 1rem;
}

.u-margin-top-400 {
  margin-top: 1rem;
}

.u-margin-bottom-400 {
  margin-bottom: 1rem;
}

.u-padding-600 {
  padding: 1.5rem;
}

.u-padding-left-600 {
  padding-left: 1.5rem;
}

.u-padding-right-600 {
  padding-right: 1.5rem;
}

.u-padding-top-600 {
  padding-top: 1.5rem;
}

.u-padding-bottom-600 {
  padding-bottom: 1.5rem;
}

.u-margin-600 {
  margin: 1.5rem;
}

.u-margin-left-600 {
  margin-left: 1.5rem;
}

.u-margin-right-600 {
  margin-right: 1.5rem;
}

.u-margin-top-600 {
  margin-top: 1.5rem;
}

.u-margin-bottom-600 {
  margin-bottom: 1.5rem;
}

.u-padding-800 {
  padding: 2rem;
}

.u-padding-left-800 {
  padding-left: 2rem;
}

.u-padding-right-800 {
  padding-right: 2rem;
}

.u-padding-top-800 {
  padding-top: 2rem;
}

.u-padding-bottom-800 {
  padding-bottom: 2rem;
}

.u-margin-800 {
  margin: 2rem;
}

.u-margin-left-800 {
  margin-left: 2rem;
}

.u-margin-right-800 {
  margin-right: 2rem;
}

.u-margin-top-800 {
  margin-top: 2rem;
}

.u-margin-bottom-800 {
  margin-bottom: 2rem;
}

.u-padding-1200 {
  padding: 3rem;
}

.u-padding-left-1200 {
  padding-left: 3rem;
}

.u-padding-right-1200 {
  padding-right: 3rem;
}

.u-padding-top-1200 {
  padding-top: 3rem;
}

.u-padding-bottom-1200 {
  padding-bottom: 3rem;
}

.u-margin-1200 {
  margin: 3rem;
}

.u-margin-left-1200 {
  margin-left: 3rem;
}

.u-margin-right-1200 {
  margin-right: 3rem;
}

.u-margin-top-1200 {
  margin-top: 3rem;
}

.u-margin-bottom-1200 {
  margin-bottom: 3rem;
}

.u-padding-1600 {
  padding: 4rem;
}

.u-padding-left-1600 {
  padding-left: 4rem;
}

.u-padding-right-1600 {
  padding-right: 4rem;
}

.u-padding-top-1600 {
  padding-top: 4rem;
}

.u-padding-bottom-1600 {
  padding-bottom: 4rem;
}

.u-margin-1600 {
  margin: 4rem;
}

.u-margin-left-1600 {
  margin-left: 4rem;
}

.u-margin-right-1600 {
  margin-right: 4rem;
}

.u-margin-top-1600 {
  margin-top: 4rem;
}

.u-margin-bottom-1600 {
  margin-bottom: 4rem;
}

