.u-padding-relative {padding: 0 !important;}
.u-padding-left-relative {padding-left: 0 !important;}
.u-padding-right-relative {padding-right: 0 !important;}
.u-padding-top-relative {padding-top: 0 !important;}
.u-padding-bottom-relative {padding-bottom: 0 !important;}
.u-margin-relative {margin: 0 !important;}
.u-margin-left-relative {margin-left: 0 !important;}
.u-margin-right-relative {margin-right: 0 !important;}
.u-margin-top-relative {margin-top: 0 !important;}
.u-margin-bottom-relative {margin-bottom: 0 !important;}
.u-padding-relative {padding: .25rem !important;}
.u-padding-left-relative {padding-left: .25rem !important;}
.u-padding-right-relative {padding-right: .25rem !important;}
.u-padding-top-relative {padding-top: .25rem !important;}
.u-padding-bottom-relative {padding-bottom: .25rem !important;}
.u-margin-relative {margin: .25rem !important;}
.u-margin-left-relative {margin-left: .25rem !important;}
.u-margin-right-relative {margin-right: .25rem !important;}
.u-margin-top-relative {margin-top: .25rem !important;}
.u-margin-bottom-relative {margin-bottom: .25rem !important;}
.u-padding-relative {padding: .5rem !important;}
.u-padding-left-relative {padding-left: .5rem !important;}
.u-padding-right-relative {padding-right: .5rem !important;}
.u-padding-top-relative {padding-top: .5rem !important;}
.u-padding-bottom-relative {padding-bottom: .5rem !important;}
.u-margin-relative {margin: .5rem !important;}
.u-margin-left-relative {margin-left: .5rem !important;}
.u-margin-right-relative {margin-right: .5rem !important;}
.u-margin-top-relative {margin-top: .5rem !important;}
.u-margin-bottom-relative {margin-bottom: .5rem !important;}
.u-padding-relative {padding: 1rem !important;}
.u-padding-left-relative {padding-left: 1rem !important;}
.u-padding-right-relative {padding-right: 1rem !important;}
.u-padding-top-relative {padding-top: 1rem !important;}
.u-padding-bottom-relative {padding-bottom: 1rem !important;}
.u-margin-relative {margin: 1rem !important;}
.u-margin-left-relative {margin-left: 1rem !important;}
.u-margin-right-relative {margin-right: 1rem !important;}
.u-margin-top-relative {margin-top: 1rem !important;}
.u-margin-bottom-relative {margin-bottom: 1rem !important;}
.u-padding-relative {padding: 1.5rem !important;}
.u-padding-left-relative {padding-left: 1.5rem !important;}
.u-padding-right-relative {padding-right: 1.5rem !important;}
.u-padding-top-relative {padding-top: 1.5rem !important;}
.u-padding-bottom-relative {padding-bottom: 1.5rem !important;}
.u-margin-relative {margin: 1.5rem !important;}
.u-margin-left-relative {margin-left: 1.5rem !important;}
.u-margin-right-relative {margin-right: 1.5rem !important;}
.u-margin-top-relative {margin-top: 1.5rem !important;}
.u-margin-bottom-relative {margin-bottom: 1.5rem !important;}
.u-padding-relative {padding: 2rem !important;}
.u-padding-left-relative {padding-left: 2rem !important;}
.u-padding-right-relative {padding-right: 2rem !important;}
.u-padding-top-relative {padding-top: 2rem !important;}
.u-padding-bottom-relative {padding-bottom: 2rem !important;}
.u-margin-relative {margin: 2rem !important;}
.u-margin-left-relative {margin-left: 2rem !important;}
.u-margin-right-relative {margin-right: 2rem !important;}
.u-margin-top-relative {margin-top: 2rem !important;}
.u-margin-bottom-relative {margin-bottom: 2rem !important;}
.u-padding-relative {padding: 3rem !important;}
.u-padding-left-relative {padding-left: 3rem !important;}
.u-padding-right-relative {padding-right: 3rem !important;}
.u-padding-top-relative {padding-top: 3rem !important;}
.u-padding-bottom-relative {padding-bottom: 3rem !important;}
.u-margin-relative {margin: 3rem !important;}
.u-margin-left-relative {margin-left: 3rem !important;}
.u-margin-right-relative {margin-right: 3rem !important;}
.u-margin-top-relative {margin-top: 3rem !important;}
.u-margin-bottom-relative {margin-bottom: 3rem !important;}
.u-padding-relative {padding: 4rem !important;}
.u-padding-left-relative {padding-left: 4rem !important;}
.u-padding-right-relative {padding-right: 4rem !important;}
.u-padding-top-relative {padding-top: 4rem !important;}
.u-padding-bottom-relative {padding-bottom: 4rem !important;}
.u-margin-relative {margin: 4rem !important;}
.u-margin-left-relative {margin-left: 4rem !important;}
.u-margin-right-relative {margin-right: 4rem !important;}
.u-margin-top-relative {margin-top: 4rem !important;}
.u-margin-bottom-relative {margin-bottom: 4rem !important;}
.u-padding-absolute {padding: 0 !important;}
.u-padding-left-absolute {padding-left: 0 !important;}
.u-padding-right-absolute {padding-right: 0 !important;}
.u-padding-top-absolute {padding-top: 0 !important;}
.u-padding-bottom-absolute {padding-bottom: 0 !important;}
.u-margin-absolute {margin: 0 !important;}
.u-margin-left-absolute {margin-left: 0 !important;}
.u-margin-right-absolute {margin-right: 0 !important;}
.u-margin-top-absolute {margin-top: 0 !important;}
.u-margin-bottom-absolute {margin-bottom: 0 !important;}
.u-padding-absolute {padding: 4px !important;}
.u-padding-left-absolute {padding-left: 4px !important;}
.u-padding-right-absolute {padding-right: 4px !important;}
.u-padding-top-absolute {padding-top: 4px !important;}
.u-padding-bottom-absolute {padding-bottom: 4px !important;}
.u-margin-absolute {margin: 4px !important;}
.u-margin-left-absolute {margin-left: 4px !important;}
.u-margin-right-absolute {margin-right: 4px !important;}
.u-margin-top-absolute {margin-top: 4px !important;}
.u-margin-bottom-absolute {margin-bottom: 4px !important;}
.u-padding-absolute {padding: 8px !important;}
.u-padding-left-absolute {padding-left: 8px !important;}
.u-padding-right-absolute {padding-right: 8px !important;}
.u-padding-top-absolute {padding-top: 8px !important;}
.u-padding-bottom-absolute {padding-bottom: 8px !important;}
.u-margin-absolute {margin: 8px !important;}
.u-margin-left-absolute {margin-left: 8px !important;}
.u-margin-right-absolute {margin-right: 8px !important;}
.u-margin-top-absolute {margin-top: 8px !important;}
.u-margin-bottom-absolute {margin-bottom: 8px !important;}
.u-padding-absolute {padding: 16px !important;}
.u-padding-left-absolute {padding-left: 16px !important;}
.u-padding-right-absolute {padding-right: 16px !important;}
.u-padding-top-absolute {padding-top: 16px !important;}
.u-padding-bottom-absolute {padding-bottom: 16px !important;}
.u-margin-absolute {margin: 16px !important;}
.u-margin-left-absolute {margin-left: 16px !important;}
.u-margin-right-absolute {margin-right: 16px !important;}
.u-margin-top-absolute {margin-top: 16px !important;}
.u-margin-bottom-absolute {margin-bottom: 16px !important;}
.u-padding-absolute {padding: 24px !important;}
.u-padding-left-absolute {padding-left: 24px !important;}
.u-padding-right-absolute {padding-right: 24px !important;}
.u-padding-top-absolute {padding-top: 24px !important;}
.u-padding-bottom-absolute {padding-bottom: 24px !important;}
.u-margin-absolute {margin: 24px !important;}
.u-margin-left-absolute {margin-left: 24px !important;}
.u-margin-right-absolute {margin-right: 24px !important;}
.u-margin-top-absolute {margin-top: 24px !important;}
.u-margin-bottom-absolute {margin-bottom: 24px !important;}
.u-padding-absolute {padding: 32px !important;}
.u-padding-left-absolute {padding-left: 32px !important;}
.u-padding-right-absolute {padding-right: 32px !important;}
.u-padding-top-absolute {padding-top: 32px !important;}
.u-padding-bottom-absolute {padding-bottom: 32px !important;}
.u-margin-absolute {margin: 32px !important;}
.u-margin-left-absolute {margin-left: 32px !important;}
.u-margin-right-absolute {margin-right: 32px !important;}
.u-margin-top-absolute {margin-top: 32px !important;}
.u-margin-bottom-absolute {margin-bottom: 32px !important;}
.u-padding-absolute {padding: 48px !important;}
.u-padding-left-absolute {padding-left: 48px !important;}
.u-padding-right-absolute {padding-right: 48px !important;}
.u-padding-top-absolute {padding-top: 48px !important;}
.u-padding-bottom-absolute {padding-bottom: 48px !important;}
.u-margin-absolute {margin: 48px !important;}
.u-margin-left-absolute {margin-left: 48px !important;}
.u-margin-right-absolute {margin-right: 48px !important;}
.u-margin-top-absolute {margin-top: 48px !important;}
.u-margin-bottom-absolute {margin-bottom: 48px !important;}
.u-padding-absolute {padding: 64px !important;}
.u-padding-left-absolute {padding-left: 64px !important;}
.u-padding-right-absolute {padding-right: 64px !important;}
.u-padding-top-absolute {padding-top: 64px !important;}
.u-padding-bottom-absolute {padding-bottom: 64px !important;}
.u-margin-absolute {margin: 64px !important;}
.u-margin-left-absolute {margin-left: 64px !important;}
.u-margin-right-absolute {margin-right: 64px !important;}
.u-margin-top-absolute {margin-top: 64px !important;}
.u-margin-bottom-absolute {margin-bottom: 64px !important;}
