@mixin u-icon ($width: 1em, $height: 1em) {
	fill: currentColor;
	transform: translate(0, 0); // Hack to allow for subpixel rendering
	display: inline-block;
	vertical-align: text-top;
	width: $width; // Fit icons to surrounding text
	height: $height; // (continued)
}
