/// Check for a valid keyframe name.
///
/// @parameter {string} $name - the name of the keyframe set
@function _get-properties-by-keyframe-name($name) {
	$valid-keyframe: map-keys($context--keyframes);
	$index: index($valid-keyframe, $name);

	@if $index {
		@return map-get($context--keyframes, $name);
	}
	@else {
		@warn "`#{$name}` is not a valid keyframe name.";
		@return null;
	}
}

/// Generate all keyframes described in 10-settings/keyframes.scss
///
/// @parameter {string} $name - the name of the keyframe set
@mixin keyframes-generator($name) {
	$properties: _get-properties-by-keyframe-name($name);
	@if $properties {
		@keyframes #{$name} {
			@each $key, $property in $properties {
				#{$key} {
					@each $prop, $value2 in $property {
						#{$prop}: #{$value2};
					}
				}
			}
		}
	}
}
