@mixin u-link-inherit() {
	color: inherit;

	&.visited,
	&:visited {
		color: inherit;
	}

	&.hover,
	&:hover {
		color: inherit;
	}
}

@mixin u-link-underline() {
	text-decoration: underline;
}

@mixin u-link-faux-block() {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@mixin u-link-interface() {

	&.active,
	&:active,
	&.hover,
	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto;
	}
}
