@mixin u-keyline($direction: bottom, $spacing: $context--keyline-spacing, $thickness: 1px) {
	$valid-directions: (top, right, bottom, left);

	@if index($valid-directions, $direction) {
		border-#{$direction}: $thickness solid $context--keyline-border-color;
		padding-#{$direction}: spacing($spacing);
		margin-#{$direction}: spacing($spacing);
	}
	@else {
		@warn '$direction should be one of #{$valid-directions}, but was #{$direction}';
	}
}

// Box shadow
@mixin u-shadow {
	border: 1px solid $context--shadow-border-color; // make optional?
	box-shadow: $context--shadow-style $context--shadow-color;
}

// <button> element reset
// Does not reset the branded buttons provided in context
@mixin u-button-reset {
	background-color: transparent;
	border: 0;
	padding: 0;
}
