@mixin u-double-underline {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
	border-bottom: 1px solid;
}

@mixin u-small-caps {
	font-size: 0.8em; /* scale based on containing text */
	text-transform: uppercase;
}

@mixin u-text-font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin u-word-wrap {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}
