@mixin u-double-underline {
	text-decoration: underline;
	-webkit-text-decoration-skip: skip;
	text-decoration-skip-ink: auto;
	border-bottom: 1px solid;
}

@mixin u-small-caps {
	font-size: 0.8em; /* scale based on containing text */
	text-transform: uppercase;
}

@mixin u-text-font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin u-word-wrap {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}

@mixin u-text-interface {
	font-family: $context--font-family-sans;
	font-size: $context--font-size-interface;
	line-height: $context--line-height-tight;
}

// Headings

@mixin u-h1() {
	font-size: $context--font-size-h1;
	font-weight: $context--font-weight-bold;
}

@mixin u-h2() {
	font-size: $context--font-size-h2;
	font-weight: $context--font-weight-bold;
}

@mixin u-h3() {
	font-size: $context--font-size-h3;
	font-weight: $context--font-weight-bold;
}

@mixin u-h4() {
	font-size: $context--font-size-h4;
	font-weight: $context--font-weight-bold;
}
