@mixin u-slice-headings() {
	border-top: $headings--border-top;
	border-bottom: $headings--border-bottom;
	padding: $headings--padding;
	margin-bottom: $headings--margin-bottom;
	line-height: $headings--line-height;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}	
}