.c-section-heading {
	border-top: $section-heading--border-top;
	border-bottom: $section-heading--border-bottom;
	padding-top: $section-heading--padding--top;
	padding-bottom: $section-heading--padding--bottom;
	margin-bottom: $section-heading--margin-bottom;
	line-height: $section-heading--line-height;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
}

.c-section-heading--no-bt {
	border-top: 0;
	padding-top: 0;
}

.c-section-heading__link {
	@include u-link-inherit;
	display: flex;
	align-items: center;
}

.c-section-heading__icon {
	@include u-icon($section-heading--icon-size, $section-heading--icon-size);
}
