.c-pagination {
	@include u-list-reset;
	display: flex;
	align-items: center;
	font-size: $springer-pagination--font-size;
	padding: $springer-pagination--padding;
	line-height: 1;
	border-top: 1px solid $springer-pagination--border-color;
	border-bottom: 1px solid $springer-pagination--border-color;
	background-color: $springer-pagination--background;
	justify-content: center;
	width: 100%;
}

.c-pagination__item {
	margin-right: $springer-pagination--item-spacing;

	&:last-child {
		margin-right: 0;
	}
}

.c-pagination__link {
	display: block;
	padding: $springer-pagination--link-padding;
	text-decoration: none;
	border-radius: $springer-pagination--border-radius;
	color: $springer-pagination--link-color;

	&:focus,
	&:visited,
	&:hover {
		color: $springer-pagination--link-color;
	}

	&:hover {
		background-color: $springer-pagination--link-background-color-hover;
	}
}

.c-pagination__link--disabled {
	color: $springer-pagination--link-color-disabled;

	&:hover {
		background-color: transparent;
	}

	&:focus,
	&:visited,
	&:hover {
		color: $springer-pagination--link-color-disabled;
	}
}

.c-pagination__link--active {
	background-color: $springer-pagination--link-background-color-active;
	color: $springer-pagination--link-color-active;

	&:focus,
	&:visited,
	&:hover {
		background-color: $springer-pagination--link-background-color-active;
		color: $springer-pagination--link-color-active;
	}
}

.c-pagination__link--ellipsis {
	padding-left: 0;
	padding-right: 0;
}

.c-pagination__icon {
	fill: $springer-pagination--icon-color;
	width: $springer-pagination--icon-width;
	height: $springer-pagination--icon-height;
}

.c-pagination__icon--active {
	fill: $springer-pagination--icon-clickable-color;
}
