.c-pagination {
	@include u-list-reset;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: $springer-pagination--font-size;
	padding: $springer-pagination--padding;

	@include media-query('sm') {
		justify-content: center;
	}
}

.c-pagination__item {
	margin-right: $springer-pagination--item-margin-right;
	margin-bottom: $springer-pagination--item-margin-bottom;

	&:last-child {
		margin-right: 0;
	}
}

.c-pagination__link {
	@include button($button--default);
	min-width: $springer-pagination--item-width;
	text-align: center;
}

.c-pagination__link--disabled {
	@include button-disabled;
}

.c-pagination__link--active {
	color: $springer-pagination--link-active-color;
	border-color: $springer-pagination--link-active-border-color;
	background-color: $springer-pagination--link-active-background-color;
	background-image: none;
	cursor: default;
}

.c-pagination__ellipsis {
	background: none;
	border: 0;
	min-width: auto;
	padding-left: 0;
	padding-right: 0;
}

.c-pagination__icon {
	fill: $springer-pagination--icon-color;
	width: $springer-pagination--icon-width;
	height: $springer-pagination--icon-height;
}

.c-pagination__icon--active {
	fill: $springer-pagination--icon-clickable-color;
}
