@use '../../../context/brand-context/springer/scss/20-functions/colors' as *;

@forward 'src/skip-link' as springer-* with (
	$skip-link--font-size: .875rem,
	$skip-link--color: color('action-base'),
	$skip-link--hover-color: color('action-base'),
	$skip-link--background-color: color('action-background-light'),
	$skip-link--z-index: 9999
);
