.c-pill {
	display: inline-block;
	padding: $pill--padding;
	border-radius: $pill--border-radius;
	color: $pill--color;
	background-color: $pill--background-color;
	font-weight: $pill--font-weight;
	margin-right: $pill--margin-right;
	margin-bottom: $pill--margin-bottom;
}
