/**
 * Colors
 * Maps for color values & greyscale settings
 *
 */

// greyscale settings
$context--greyscale-base: black;
$context--greyscale-min: 0;
$context--greyscale-max: 100;

// round greys to multiples of $context--greyscale-stops
$context--greyscale-stops: 5;

// dark color used in foreground-color function
$context--foreground-dark: black;

// light color used in foreground-color function
$context--foreground-light: white;

$context--focus-color: red;

// default colors
$context--colors: (
	'red': red,
	'blue': blue
);
