/**
 * Colors
 * Maps for color values & greyscale settings
 *
 */

// greyscale settings
$greyscale-base: black;
$greyscale-min: 0;
$greyscale-max: 100;

// round greys to multiples of $greyscale-stops
$greyscale-stops: 5;

// dark color used in foreground-color function
$foreground-dark: black;

// light color used in foreground-color function
$foreground-light: white;

// default colors
$colors: (
	'red': red,
	'blue': blue
);