/**
 * Shared colors
 * Applicable to all brands and not to be overwritten
 *
 */

// Open Access
$context--open-access-color: #b74616;

// Springer Nature Corporate colours
$context--universal-blue: #01324b;
$context--grey-blue-light1: #ebf1f5;
$context--grey-blue-light2: #cedbe0;
