@use '../../../../default/scss/10-settings/colors/shared' as default-colors;

/**
 * Colors
 * Maps for color values & greyscale settings
 */

// default colors
$context--colors: (
	// Global colours
	'black': #222, // Formely mineshaft
	'white': #fff,
	'red': #c40606,
	'orange': #f58220,
	'yellow': #fc0,
	'blue': #003f8d,
	'medium-blue': #025e8d,
	'green': #00a69d,
	'purple': #a345c9,
	'grey-dark1': #555,	// Formely emperor
	'grey-dark2': #666,	// Formely dove
	'grey-light1': #f8f8f8, // Formely alabaster
	'grey-light2': #f3f3f3, // Formely concrete
	'grey-mid1': #dadada, // Formely alto

	// SN Accent colours
	'research-blue': #0070a8,
	'research-purple': #785ba7,
	'research-forest': #007373,
	'research-red': #be1818,
	'research-orange': #c75301,

	// SN Corporate colours
	'universal-blue': default-colors.$context--universal-blue,
	'grey-blue-light1': default-colors.$context--grey-blue-light1,
	'grey-blue-light2': default-colors.$context--grey-blue-light2
);

$context--page-background-color: #f8f8f8;
$context--border-color: #dadada;
$context--focus-color: #fc0;
$context--error-color: #c40606;
$context--success-color: #00a69d;

$context--greyscale-base: black;
$context--greyscale-min: 0;
$context--greyscale-max: 100;
$context--greyscale-stops: 5;
$context--foreground-dark: black;
$context--foreground-light: white;
$context--focus-color: red;
