/**
 * Colors
 * Maps for color values & greyscale settings
 */

// default colors
$context--colors: (
	// Global colours
	'black': #222, // Formely mineshaft
	'white': #fff,
	'red': #c40606,
	'yellow': #fc0,
	'blue': #004b83,
	'blue-light': #0063ab,
	'research-blue': #0070A8,
	'universal-blue': #01324B,
	'purple': #a345c9,
	'grey-dark1': #555,	// Formely emperor
	'grey-dark2': #666,	// Formely dove
	'grey-light1': #f8f8f8, // Formely alabaster
	'grey-light2': #f3f3f3, // Formely concrete
	'grey-mid1': #dadada, // Formely alto

	// SN Accent colours
	'lilac':  #9d7eb8,
	'emerald': #00b8b0,
	'orange': #f58220,
	'lime': #b6bd04,
	'bright-blue': #3c9cd7,	// Formely brightblue

	// SN Corporate colours
	'gunmetal-blue': #183642, // Formely midnight
	'electric-blue': #486a7e,
	'pewter-blue': #8faec1,
	'gainsboro-blue': #cedbe0,
	'alice-blue': #ecf1f4,
);

$context--page-background-color: color('grey-light1');
$context--border-color: color('grey-mid1');
$context--focus-color: color('yellow');
$context--error-color: color('red');
$context--success-color: color('emerald');
