// Base button styles
// No theme

@mixin button-base {
	cursor: pointer;
	display: block;
	margin: 0;
	position: relative;
	text-decoration: none;
	width: 100%;
	border-radius: $button--border-radius;
	font-family: $button--font-family;
	font-size: $button--font-size-normal;
	line-height: $button--line-height;
	padding: $button--padding;
	text-align: $button--text-align;
	transition: $button--transition;
}

// Add base button styles
// with optional theme styles on top

@mixin button($theme: false) {
	@include button-base;
	@if $theme {
		@include button-theme($theme);
	}
}

/**
 * Add button theme
 *
 */

@mixin button-theme($theme) {
	color: map-get($theme, 'color');
	background-color: map-get($theme, 'backgroundColor');
	background-image: map-get($theme, 'backgroundImage');
	border: map-get($theme, 'border');

	&:visited {
		color: map-get($theme, 'visitedColor');
	}

	&:hover {
		border-color: map-get($theme, 'hoverBorderColor');
		text-decoration: map-get($theme, 'hoverTextDecoration');
	}

	&:focus {
		border-color: map-get($theme, 'focusBorderColor');
		text-decoration: map-get($theme, 'focusTextDecoration');
	}

	&:hover,
	&:focus {
		color: map-get($theme, 'hoverColor');
		background-color: map-get($theme, 'hoverBackgroundColor');
		background-image: map-get($theme, 'hoverBackgroundImage');

		svg path {
			fill: map-get($theme, 'hoverColor');
		}
	}
}

/**
 * Disabled Button
 *
 */

@mixin button-disabled {
	@include button-theme($button--disabled);
	opacity: map-get($button--disabled, 'opacity');
	cursor: default;
}
